/********** 
  12. Team Section Styles
**********/
.team {
  &-member {
    &-thumb {
      width: $base-padding * 5.525;
      height: $base-padding * 5.525;
    }
    &-thumb1 {
      width: 100%;
    }
    &-socialLink {
      a {
        width: $base-padding * 2.25;
        height: $base-padding * 2.25;
        background: $color-gray;
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          path {
            fill: $color-secondary;
          }
        }
        &:hover {
          background: $color-secondary;
          svg {
            path {
              fill: $color-gray;
            }
          }
        }
      }
      li:last-child {
        a {
          margin-right: 0 !important;
        }
      }
    }
  }
}
