<!--
  #############
  Home Page About Section
  #############
-->
<section class="about mb-5 @@paddingClass">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="w-100 ">
          <img class="w-100 rounded-lg " src="images/about/about-banner.png" alt="banner">
        </div>
      </div>
      <div class="col-10 mx-auto ">
        <div class="bg-white  w-100 mt-n7 mt-lg-n10 p-3 p-md-5 py-lg-6 px-lg-7 text-center rounded-lg shadow">
          <img src="images/about/about-icon.svg" alt="" class="shadow rounded-lg mb-3 mb-lg-5">
          <span class="text-secondary text-uppercase mb-3 d-block fw-medium ls-lg">About</span>
          <h2 class="mb-3 mb-lg-5">Gain the insights, advice and tools to achieve.</h2>
          <p class="mb-3 mb-lg-5 lh-lg">Diam urna, sit aenean mauris sit tincidunt vitae mauris ipsum. Habitasse enim, 
            cursus lacus, mi. Pharetra facilisis diam in commodo enim. Ipsum suspendisse dui magna nam.
             Viverra eu non in pretium commodo et tortor. Risus in nisi ullamcorper duis. </p>
          <a href="about.html " class="btn btn-light-green btn-lg">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
  #############
  Home Page About Section
  #############
-->