<!--
  #############
  Badges Pages
  #############
-->
<section class=" elements mt-5 ">
  <div class="container">
    <!--Normal Badge-->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row ">
          <div class="col-12">
            <h2>Badge Default</h2>
            <p>
              Use the <span class="highlight"> .badge  </span> class with <span class="highlight">  &lt;span&gt; </span> element inside main element.</p>
            <hr>
          </div>
          <div class="col-12">
            <nav>
              <div class="nav nav-tabs"  role="tablist">
                <button class="nav-link active" id="tabs-aria-view7" data-bs-toggle="tab" data-bs-target="#tabs-view7" type="button" role="tab">View</button>
                <button class="nav-link" id="tabs-aria-HTML7" data-bs-toggle="tab" data-bs-target="#tabs-HTML7" type="button" role="tab">HTML Code</button>
              </div>
            </nav>
            <div class="tab-content p-4 shadow" >
              <div class="tab-pane fade show active " id="tabs-view7" role="tabpanel" aria-labelledby="tabs-aria-view7">
                <div class="tab-item ">
                  <h1>Example heading <span class="badge badge-default">New</span></h1>
                  <h2>Example heading <span class="badge badge-default">New</span></h2>
                  <h3>Example heading <span class="badge badge-default">New</span></h3>
                  <h4>Example heading <span class="badge badge-default">New</span></h4>
                  <h5>Example heading <span class="badge badge-default">New</span></h5>
                  <h6>Example heading <span class="badge badge-default">New</span></h6>
                </div>          
              </div>
              <div class="tab-pane fade" id="tabs-HTML7" role="tabpanel" aria-labelledby="tabs-aria-HTML7">
                <div class="tab-item ">
                  <pre class="language-html">
                    <code class=" language-html">
                      &lt;!--Badges Default--&gt;
                      &lt;h1&gt;Example heading &lt;span class=&quot;badge badge-default&quot;&gt;New&lt;/span&gt;&lt;/h1&gt;
                      &lt;h2&gt;Example heading &lt;span class=&quot;badge badge-default&quot;&gt;New&lt;/span&gt;&lt;/h2&gt;
                      &lt;h3&gt;Example heading &lt;span class=&quot;badge badge-default&quot;&gt;New&lt;/span&gt;&lt;/h3&gt;
                      &lt;h4&gt;Example heading &lt;span class=&quot;badge badge-default&quot;&gt;New&lt;/span&gt;&lt;/h4&gt;
                      &lt;h5&gt;Example heading &lt;span class=&quot;badge badge-default&quot;&gt;New&lt;/span&gt;&lt;/h5&gt;
                      &lt;h6&gt;Example heading &lt;span class=&quot;badge badge-default&quot;&gt;New&lt;/span&gt;&lt;/h6&gt;
                    </code>
                  </pre>
                </div>
              </div>
            </div>
          </div>      
        </div>
      </div>
    </div>
    <!--Normal Badge-->
    <!-- Badge in Background-->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row ">
          <div class="col-12">
            <h2>Badge with Background</h2>
            <p>
              Add the <span class="highlight"> .bg-primary  </span> class with <span class="highlight"> .badge  </span> to add background.
            <hr>
          </div>
          <div class="col-12">
            <nav>
              <div class="nav nav-tabs"  role="tablist">
                <button class="nav-link active" id="tabs-aria-view8" data-bs-toggle="tab" data-bs-target="#tabs-view8" type="button" role="tab">View</button>
                <button class="nav-link" id="tabs-aria-HTML8" data-bs-toggle="tab" data-bs-target="#tabs-HTML8" type="button" role="tab">HTML Code</button>
              </div>
            </nav>
            <div class="tab-content p-4 shadow" >
              <div class="tab-pane fade show active " id="tabs-view8" role="tabpanel" aria-labelledby="tabs-aria-view8">
                <div class="tab-item ">
                  <span class="badge bg-primary">Primary</span><p></p>
                  <span class="badge bg-secondary">Secondary</span><p></p>
                  <span class="badge bg-success">Success</span><p></p>
                  <span class="badge bg-danger">Danger</span><p></p>
                  <span class="badge bg-warning">Warning</span><p></p>
                  <span class="badge bg-dark">Dark</span><p></p>
                </div>          
              </div>
              <div class="tab-pane fade" id="tabs-HTML8" role="tabpanel" aria-labelledby="tabs-aria-HTML8">
                <div class="tab-item ">
                  <pre class="language-html">
                    <code class=" language-html">
                      &lt;!--Badges Background--&gt;
                      &lt;span class=&quot;badge bg-primary&quot;&gt;Primary&lt;/span&gt;
                      &lt;span class=&quot;badge bg-secondary&quot;&gt;Secondary&lt;/span&gt;
                      &lt;span class=&quot;badge bg-success&quot;&gt;Success&lt;/span&gt;
                      &lt;span class=&quot;badge bg-danger&quot;&gt;Danger&lt;/span&gt;
                      &lt;span class=&quot;badge bg-warning&quot;&gt;Warning&lt;/span&gt;
                      &lt;span class=&quot;badge bg-dark&quot;&gt;Dark&lt;/span&gt;
                    </code>
                  </pre>
                </div>
              </div>
            </div>
          </div>       
        </div>
      </div>
    </div>
    <!--Badge in Background -->

    <!-- Badge in Light Background-->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row ">
          <div class="col-12">
            <h2>Badge with Light Background</h2>
            <p>
              Add the <span class="highlight">  badge-soft-primary-light  </span> class with <span class="highlight"> .badge  </span> to add light background.</p>
            <hr>
          </div>
          <div class="col-12">
            <nav>
              <div class="nav nav-tabs"  role="tablist">
                <button class="nav-link active" id="tabs-aria-view9" data-bs-toggle="tab" data-bs-target="#tabs-view9" type="button" role="tab">View</button>
                <button class="nav-link" id="tabs-aria-HTML9" data-bs-toggle="tab" data-bs-target="#tabs-HTML9" type="button" role="tab">HTML Code</button>
              </div>
            </nav>
            <div class="tab-content p-4 shadow" >
              <div class="tab-pane fade show active " id="tabs-view9" role="tabpanel" aria-labelledby="tabs-aria-view9">
                <div class="tab-item ">
                  <span class="badge badge-soft-primary-light">Primary</span><p></p>
                  <span class="badge badge-soft-secondary-light">Secondary</span><p></p>
                  <span class="badge badge-soft-success-light">Success</span><p></p>
                  <span class="badge badge-soft-danger-light">Danger</span><p></p>
                  <span class="badge badge-soft-warning-light">Warning</span><p></p>
                  <span class="badge badge-soft-dark-light">Dark</span><p></p>
                </div>          
              </div>
              <div class="tab-pane fade" id="tabs-HTML9" role="tabpanel" aria-labelledby="tabs-aria-HTML9">
                <div class="tab-item ">
                  <pre class="language-html">
                    <code class=" language-html">
                      &lt;!--Badges Light--&gt;
                      &lt;span class=&quot;badge badge-soft-primary-light&quot;&gt;Primary&lt;/span&gt;
                      &lt;span class=&quot;badge badge-soft-secondary-light&quot;&gt;Teal&lt;/span&gt;
                      &lt;span class=&quot;badge badge-soft-success-light&quot;&gt;Success&lt;/span&gt;
                      &lt;span class=&quot;badge badge-soft-danger-light&quot;&gt;Danger&lt;/span&gt;
                      &lt;span class=&quot;badge badge-soft-warning-light&quot;&gt;Warning&lt;/span&gt;
                      &lt;span class=&quot;badge badge-soft-dark-light&quot;&gt;Dark&lt;/span&gt;
                    </code>
                  </pre>
                </div>
              </div>
            </div>
          </div>         
        </div>
      </div>
    </div>
    <!--Badge in Light BAckground -->

    <!-- Badge in Background Pill-->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <h2>Badge with pill</h2>
            <p>
              Add the <span class="highlight"> .bg-primary </span> and <span class="highlight"> .rounded  </span> class with <span class="highlight"> .badge  </span> to add background.</p>
            <hr>
          </div>
          <div class="col-12">
            <nav>
              <div class="nav nav-tabs"  role="tablist">
                <button class="nav-link active" id="tabs-aria-view10" data-bs-toggle="tab" data-bs-target="#tabs-view10" type="button" role="tab">View</button>
                <button class="nav-link" id="tabs-aria-HTML10" data-bs-toggle="tab" data-bs-target="#tabs-HTML10" type="button" role="tab">HTML Code</button>
              </div>
            </nav>
            <div class="tab-content p-4 shadow" >
              <div class="tab-pane fade show active " id="tabs-view10" role="tabpanel" aria-labelledby="tabs-aria-view10">
                <div class="tab-item ">
                  <span class="badge bg-primary rounded-pill">Primary</span> <p></p>
                  <span class="badge bg-secondary rounded-pill">Secondary</span> <p></p>
                  <span class="badge bg-success rounded-pill">Success</span> <p></p>
                  <span class="badge bg-danger rounded-pill">Danger</span> <p></p>
                  <span class="badge bg-warning rounded-pill">Warning</span> <p></p>
                  <span class="badge bg-dark rounded-pill">Dark</span> <p></p>
                </div>          
              </div>
              <div class="tab-pane fade" id="tabs-HTML10" role="tabpanel" aria-labelledby="tabs-aria-HTML10">
                <div class="tab-item ">
                  <pre class="language-html">
                    <code class=" language-html">
                      &lt;!--Badges Background--&gt;
                      &lt;span class=&quot;badge bg-primary rounded-pill&quot;&gt;Primary&lt;/span&gt;
                      &lt;span class=&quot;badge bg-secondary rounded-pill&quot;&gt;Secondary&lt;/span&gt;
                      &lt;span class=&quot;badge bg-success rounded-pill&quot;&gt;Success&lt;/span&gt;
                      &lt;span class=&quot;badge bg-danger rounded-pill&quot;&gt;Danger&lt;/span&gt;
                      &lt;span class=&quot;badge bg-warning rounded-pill&quot;&gt;Warning&lt;/span&gt;
                      &lt;span class=&quot;badge bg-dark rounded-pill&quot;&gt;Dark&lt;/span&gt;
                    </code>
                  </pre>
                </div>
              </div>
            </div>
          </div>        
        </div>
      </div>
    </div>
    <!--Badge in Background Pill-->

    <!-- LInk-->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row ">
          <div class="col-12">
            <h2>Badge Links</h2>
            <p>
              Wrap  a badge item inside <span class="highlight"> &lt;a&gt; &lt;/a&gt; </span> to add link.</p>
            <hr>
          </div>
          <div class="col-12">
            <nav>
              <div class="nav nav-tabs"  role="tablist">
                <button class="nav-link active" id="tabs-aria-view11" data-bs-toggle="tab" data-bs-target="#tabs-view11" type="button" role="tab">View</button>
                <button class="nav-link" id="tabs-aria-HTML11" data-bs-toggle="tab" data-bs-target="#tabs-HTML11" type="button" role="tab">HTML Code</button>
              </div>
            </nav>
            <div class="tab-content p-4 shadow" >
              <div class="tab-pane fade show active " id="tabs-view11" role="tabpanel" aria-labelledby="tabs-aria-view10">
                <div class="tab-item ">
                  <a href="#"><span class="badge bg-primary ">Primary</span> </a> <p></p>
                  <a href="#"><span class="badge bg-secondary ">Secondary</span></a><p></p>
                  <a href="#"> <span class="badge bg-success">Success</span></a><p></p>
                  <a href="#"><span class="badge bg-danger ">Danger</span></a><p></p>
                  <a href="#"><span class="badge bg-warning ">Warning</span></a><p></p>
                  <a href="#"><span class="badge bg-dark">Dark</span></a><p></p>
                </div>          
              </div>
              <div class="tab-pane fade" id="tabs-HTML11" role="tabpanel" aria-labelledby="tabs-aria-HTML11">
                <div class="tab-item ">
                  <pre class="language-html">
                    <code class=" language-html">
                      &lt;!--Badges Links--&gt;
                      &lt;a href=&quot;#&quot;&gt;&lt;span class=&quot;badge bg-primary &quot;&gt;Primary&lt;/span&gt; &lt;/a&gt;
                      &lt;a href=&quot;#&quot;&gt;&lt;span class=&quot;badge bg-secondary &quot;&gt;Secondary&lt;/span&gt;&lt;/a&gt;
                      &lt;a href=&quot;#&quot;&gt; &lt;span class=&quot;badge bg-success&quot;&gt;Success&lt;/span&gt;&lt;/a&gt;
                      &lt;a href=&quot;#&quot;&gt;&lt;span class=&quot;badge bg-danger &quot;&gt;Danger&lt;/span&gt;&lt;/a&gt;
                      &lt;a href=&quot;#&quot;&gt;&lt;span class=&quot;badge bg-warning &quot;&gt;Warning&lt;/span&gt;&lt;/a&gt;
                      &lt;a href=&quot;#&quot;&gt;&lt;span class=&quot;badge bg-dark&quot;&gt;Dark&lt;/span&gt;&lt;/a&gt;&gt;
                    </code>
                  </pre>
                </div>
              </div>
            </div>
          </div>       
        </div>
      </div>
    </div>
    <!--Link Badges -->
  </div>
</section>
