<!--
  #############
  Blog  Items
  #############
-->
<section class="blog-post mt-md-0 mt-lg-n7 mt-xl-n14 position-relative">
  <h2 class="d-none"> BLog post </h2>
  <!--BLog page shape circle-->
  <div class="services-shape-wrapper position-absolute w-100 h-100">
    <div class="services-shape position-absolute bg-secondary-dark rounded-circle">
      <img src="../images/blog/blog-shape.svg" alt="shape">
    </div>
  </div>
  <!--BLog page shape circle-->
  <!--BLog page shape Dot left-->
  <div class="services-shape-bottom position-absolute switch-two">
    <img src="../images/service/service-shape-dot3.svg" alt="shape">
  </div>
  <!--BLog Featured Post Item-->
  <div class="container">
    
    <div class="row">
      <div class="col-lg-11 col-12 mx-auto">
        <article class="card blog-post-featured p-3 bg-white shadow d-flex flex-lg-row w-100 justify-content-center align-items-center rounded-4">
          <div class="blog-post-item-thumb w-100 w-lg-40">
            <img src="images/blog/featured-thumb1.png" alt="featured-thumb1" class="rounded-4 w-100" >
          </div>
          <div class="blog-post-content w-100 w-lg-60 w-xxl-50 mt-5 mt-lg-0 ms-lg-5 me-xl-auto me-0">
            <div class="blog-post-author d-flex align-items-center mb-3">
              <img class="blog-post-author-thumb rounded-circle border border-3 border-danger" src="images/blog/author-thumb1.png" alt="author">
              <h6 class="fw-medium ms-2">Wasley Winde</h6>
            </div>
            <div class="blog-post-meta mb-3">
              <ul class="list-inline list-unstyled">
                <li class="list-inline-item">
                  <a href="taxonomy.html">
                    <span class="badge badge-soft-danger-light">Technology</span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <span class="me-2">3 Min</span>. 
                  <span class="ms-2">13th March</span>
                </li>
              </ul>
            </div>
            <div class="blog-post-body">
              <div class="blog-post-body-title">
                <a href="blog-single.html">
                  <h2 class="mb-2">
                    How To Have A Fantastic Consultancy With Minimal Spending.
                  </h2>
                </a>
                <p>
                  Diam urna, sit aenean mauris sit tincidunt vitae mauris ipsum. Habitasse enim, cursus lacus, mi. Pharetra facilisis diam in commodo enim. Ipsum suspendisse dui magna nam. Viverra eu non in pretium.
                </p>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
    <!--BLog Featured Post Item-->

    <!--BLog Post Items-->
    <div class="row mt-6">
      <div class="col-lg-11 col-12 mx-auto">
        <div class="row">
          <!--Blog item-->
          <div class="col-lg-4 col-md-6 mb-4">
            <article class="card blog-post-items p-3 bg-white shadow-none rounded-4 w-100 ">
              <div class="blog-post-item-thumb w-100">
                <img src="images/blog/featured-thumb2.png" alt="featured-thumb1" class="rounded-4 w-100" >
              </div>

              <div class="blog-post-content w-100 mt-3">
                <div class="blog-post-author d-flex align-items-center mb-3">
                  <img class="blog-post-author-thumb rounded-circle border border-3 border-warning" src="images/blog/author-thumb1.png" alt="author">
                  <h6 class="fw-medium ms-2">Wasley Winde</h6>
                </div>

                <div class="blog-post-meta   mb-3">
                  <ul class="list-inline list-unstyled">
                    <li class="list-inline-item">
                      <a href="taxonomy.html">
                        <span class="badge badge-soft-warning-light ">Technology</span>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <span class="me-2">3 Min</span>. 
                      <span class="ms-2">13th March</span>
                    </li>
                  </ul>
                </div>
                <div class="blog-post-body">
                  <div class="blog-post-body-title">
                    <a href="blog-single.html">
                      <h2 class="mb-2">
                        Seven Taboos About Consultancy You Should Never Share On Twitter.
                      </h2>
                    </a>
                    <p>
                      Diam urna, sit aenean mauris sit tincidunt vitae mauris ipsum. Habitasse enim, cursus lacus, mi. 
                    </p>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <!--Blog Item-->
          <!--Blog item-->
          <div class="col-lg-4 col-md-6 mb-4">
            <article class="card blog-post-items p-3 bg-white shadow-none rounded-4 w-100  ">
              <div class="blog-post-item-thumb w-100">
                <img src="images/blog/featured-thumb3.png" alt="featured-thumb1" class="rounded-4 w-100" >
              </div>

              <div class="blog-post-content w-100 mt-3">
                <div class="blog-post-author d-flex align-items-center mb-3">
                  <img class="blog-post-author-thumb rounded-circle border border-3 border-teal" src="images/blog/author-thumb2.png" alt="author">
                  <h6 class="fw-medium ms-2">Lara Croft</h6>
                </div>

                <div class="blog-post-meta   mb-3">
                  <ul class="list-inline list-unstyled">
                    <li class="list-inline-item">
                      <a href="taxonomy.html">
                        <span class="badge badge-soft-secondary-light">Technology</span>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <span class="me-2">3 Min</span>. 
                      <span class="ms-2">13th March</span>
                    </li>
                  </ul>
                </div>
                <div class="blog-post-body">
                  <div class="blog-post-body-title">
                    <a href="blog-single.html">
                      <h2 class="mb-2">
                        The Story Of Consultancy Has Just Gone Viral!
                      </h2>
                    </a>
                    <p>
                      Diam urna, sit aenean mauris sit tincidunt vitae mauris ipsum. Habitasse enim, cursus lacus, mi. 
                    </p>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <!--Blog Item-->
          <!--Blog item-->
          <div class="col-lg-4 col-md-6 mb-4">
            <article class="card blog-post-items p-3 bg-white shadow-none  w-100  rounded-4">
              <div class="blog-post-item-thumb w-100">
                <img src="images/blog/featured-thumb4.png" alt="featured-thumb1" class="rounded-4 w-100" >
              </div>

              <div class="blog-post-content w-100 mt-3">
                <div class="blog-post-author d-flex align-items-center mb-3">
                  <img class="blog-post-author-thumb rounded-circle border border-3 border-success" src="images/blog/author-thumb2.png" alt="author">
                  <h6 class="fw-medium ms-2">Lira martin</h6>
                </div>

                <div class="blog-post-meta   mb-3">
                  <ul class="list-inline list-unstyled">
                    <li class="list-inline-item">
                      <a href="taxonomy.html">
                        <span class="badge badge-soft-success-light">Technology</span>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <span class="me-2">3 Min</span>. 
                      <span class="ms-2">13th March</span>
                    </li>
                  </ul>
                </div>
                <div class="blog-post-body">
                  <div class="blog-post-body-title">
                    <a href="blog-single.html">
                      <h2 class="mb-2">
                        Ten Ingenious Ways You Can Do With Consultancy.
                      </h2>
                    </a>
                    <p>
                      Diam urna, sit aenean mauris sit tincidunt vitae mauris ipsum. Habitasse enim, cursus lacus, mi. 
                    </p>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <!--Blog Item-->

          <!--Blog item-->
          <div class="col-lg-4 col-md-6 mb-4">
            <article class="card blog-post-items p-3 bg-white shadow-none  w-100 mb-5 rounded-4">
              <div class="blog-post-item-thumb w-100">
                <img src="images/blog/featured-thumb5.png" alt="featured-thumb1" class="rounded-4 w-100" >
              </div>

              <div class="blog-post-content w-100 mt-3">
                <div class="blog-post-author d-flex align-items-center mb-3">
                  <img class="blog-post-author-thumb rounded-circle border border-3 border-warning" src="images/blog/author-thumb1.png" alt="author">
                  <h6 class="fw-medium ms-2">Ritu Natalia</h6>
                </div>

                <div class="blog-post-meta   mb-3">
                  <ul class="list-inline list-unstyled">
                    <li class="list-inline-item">
                      <a href="taxonomy.html">
                        <span class="badge badge-soft-warning-light ">Technology</span>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <span class="me-2">3 Min</span>. 
                      <span class="ms-2">13th March</span>
                    </li>
                  </ul>
                </div>
                <div class="blog-post-body">
                  <div class="blog-post-body-title">
                    <a href="blog-single.html">
                      <h2 class="mb-2">
                        The Reasons Why We Love Consultancy.
                      </h2>
                    </a>
                    <p>
                      Diam urna, sit aenean mauris sit tincidunt vitae mauris ipsum. Habitasse enim, cursus lacus, mi. 
                    </p>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <!--Blog Item-->
          <!--Blog item-->
          <div class="col-lg-4 col-md-6 mb-4">
            <article class="card blog-post-items p-3 bg-white shadow-none  w-100 rounded-4 ">
              <div class="blog-post-item-thumb w-100">
                <img src="images/blog/featured-thumb6.png" alt="featured-thumb1" class="rounded-4 w-100" >
              </div>

              <div class="blog-post-content w-100 mt-3">
                <div class="blog-post-author d-flex align-items-center mb-3">
                  <img class="blog-post-author-thumb rounded-circle border border-3 border-teal" src="images/blog/author-thumb2.png" alt="author">
                  <h6 class="fw-medium ms-2">Nigel Lina</h6>
                </div>

                <div class="blog-post-meta   mb-3">
                  <ul class="list-inline list-unstyled">
                    <li class="list-inline-item">
                      <a href="taxonomy.html">
                        <span class="badge badge-soft-secondary-light">Technology</span>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <span class="me-2">3 Min</span>. 
                      <span class="ms-2">13th March</span>
                    </li>
                  </ul>
                </div>
                <div class="blog-post-body">
                  <div class="blog-post-body-title">
                    <a href="blog-single.html">
                      <h2 class="mb-2">
                        15 Moments That Basically Sum Up Your Consultancy Experience.
                      </h2>
                    </a>
                    <p>
                      Diam urna, sit aenean mauris sit tincidunt vitae mauris ipsum. Habitasse enim, cursus lacus, mi. 
                    </p>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <!--Blog Item-->
          <!--Blog item-->
          <div class="col-lg-4 col-md-6 mb-4">
            <article class="card blog-post-items p-3 bg-white shadow-none  w-100  rounded-4">
              <div class="blog-post-item-thumb w-100">
                <img src="images/blog/featured-thumb7.png" alt="featured-thumb1" class="rounded-4 w-100" >
              </div>

              <div class="blog-post-content w-100 mt-3">
                <div class="blog-post-author d-flex align-items-center mb-3">
                  <img class="blog-post-author-thumb rounded-circle border border-3 border-success" src="images/blog/author-thumb2.png" alt="author">
                  <h6 class="fw-medium ms-2">Linda Lisa</h6>
                </div>

                <div class="blog-post-meta   mb-3">
                  <ul class="list-inline list-unstyled">
                    <li class="list-inline-item">
                      <a href="taxonomy.html">
                        <span class="badge badge-soft-success-light">Technology</span>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <span class="me-2">3 Min</span>. 
                      <span class="ms-2">13th March</span>
                    </li>
                  </ul>
                </div>
                <div class="blog-post-body">
                  <div class="blog-post-body-title">
                    <a href="blog-single.html">
                      <h2 class="mb-2">
                        Diam urna, sit aenean mauris sit tincid unt vitae mauris ipsum.
                      </h2>
                    </a>
                    <p>
                      Diam urna, sit aenean mauris sit tincidunt vitae mauris ipsum. Habitasse enim, cursus lacus, mi. 
                    </p>
                  </div>
                </div>
              </div>
            </article>
          </div>
        <!--Blog Item-->
        </div>
      </div>
    </div>
    <!--BLog Post Items-->
  </div>
</section>