<!--
  #############
  Blog Single Items
  #############
-->
<article class="blog-details mt-4 mt-md-5 mt-lg-n6 mt-xl-n9">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <div class="card shadow rounded-3 p-3">
          <img src="images/blog/featured-image.png" alt="featured-img" class="blog-featured-image">
          <div class="card-body blog-details-content ps-md-6 pe-md-7 pb-md-6">
            <div class="blog-details-content-desc py-4">
              <p>
                Quis aenean tristique vulputate egestas vestibulum amet proin at amet. Aliquet phasellus mauris, vel viverra. Amet, rutrum dolor vulputate eu pulvinar. Pellentesque elementum tortor montes, sed tempus erat id id. Quam eu vulputate accumsan donec urna non pellentesque in. Donec suspendisse eget vitae pretium. Et, tortor aliquam rhoncus, elementum eleifend varius vulputate euispanod phasellus. Sit amet luctus amet proin ornare suspendisse. Tincidunt at in mattis consectetur tincidunt est enim interdum. Et erat faucibus aliquam, pulvinar dignissim. At gravida duis ac convallis sodales feugiat. Suspendisse massa vitae volutpat dolor dapibus. Tempus tempor turpis nunc vulputate nec elit. Mauris vitae, parturient neque, egestas velit etiam aenean. Felis nisl lorem eget sit.<br>
                Enim rhoncus faucibus ultrices non nec. Duis auctor in adipiscing lobortis mi egestas lectus magna lacus. Nulla vitae vitae elit vulputate sapien nunc justo dignissim amet.
              </p>
  
              <h2 class="pe-lg-8">
                Diam urna, sit aenean mauris sit tincid unt vitae mauris ipsum.
              </h2>
              <p>
                Praesent eros risus volutpat pulvinar nulla sit nullam pellentesque netus. At mi vivamus lectus odio mauris quam eget commodo. Scelerisque quam aenean est senectus dis nam. Diam, senectus arcu, et laoreet suspendisse leo at nunc risus. Cras curabitur nisl a enim. Laoreet morbi ut dictum sed ligula lacus. 
              </p>
  
              <p>
                Etiam malesuada augue nec mollis pellentesque aliquet. Eu viverra imperdiet nunc sit nunc at. Duis netus et gravida ornare libero. Ut vivamus blandit sed hendrerit. Et, faucibus enim, urna ultrices viverra volutpat. Egestas facilisis in cursus proin. Magna ultrices vulputate.
              </p>
  
              <ul class="list-unstyled me-lg-9">
                <li>
                  <span class="fw-medium">Praesent eros risus volutpat pulvinar nulla sit nullam pellentesque netus. </span>
                </li>
                <li>
                  <span class="fw-medium">Praesent eros risus volutpat pulvinar nulla sit nullam pellentesque netus. </span>
                </li>
                <li>
                  <span class="fw-medium">Praesent eros risus volutpat pulvinar . </span>
                </li>
                <li>
                  <span class="fw-medium">Praesent eros risus volutpat pulvinar nulla sit nullam pellentesque netus. </span>
                </li>
                <li>
                  <span class="fw-medium">Praesent eros risus volutpat. </span>
                </li>
                <li>
                  <span class="fw-medium">Praesent eros risus volutpat pulvinar nulla sit nullam pellentesque netus. </span>
                </li>
              </ul>
  
              <blockquote class="bg-purple-light p-4 text-start border-start border-2 border-secondary fst-italic fw-medium my-6 me-lg-10">
                Diam urna, sit aenean mauris sit tincidunt vitae mauris ipsum. Habitasse enim, cursus lacus, mi. Pharetra facilisis diam in commodo enim.
              </blockquote>
            </div>

            <div class="d-xl-flex d-lg-block align-items-center justify-custom-center">
              <div class="pe-xl-5">
                <h2 class="">
                  Diam urna, sit aenean mauris sit tincid unt vitae mauris ipsum.
                </h2>
                <p>Praesent eros risus volutpat pulvinar nulla sit nullam pellentesque netus. At mi vivamus lectus odio mauris quam eget commodo. Scelerisque quam aenean est senectus dis nam. Diam, senectus arcu, et laoreet suspendisse leo at nunc risus. Cras curabitur.</p>

                <h2 class="">
                  Diam urna, sit aenean mauris sit tincid unt vitae mauris ipsum.
                </h2>
                <p>Praesent eros risus volutpat pulvinar nulla sit nullam pellentesque netus. At mi vivamus lectus odio mauris quam eget commodo. Scelerisque quam aenean est senectus dis nam. Diam, senectus arcu, et laoreet suspendisse leo at nunc risus. Cras curabitur.</p>
              </div>
              <div class="">
                <img src="images/blog/featured-image2.png" alt="featured-img2" class="blog-featured-image w-100 w-xl-auto">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</article>
