<!--
  #############
  Button Pages
  #############
-->
<section class=" elements mt-5 ">
  <div class="container">
    <!--Normal Buttons-->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row ">
          <div class="col-12">
            <h2>Standard Buttons</h2>
            <p>
              The default button style for Consultant using the <span class="highlight">.btn  </span> class. Customize the size of the buttons using <span class="highlight">.btn-lg  </span> and <span class="highlight">.btn-sm  </span></p>
            <hr>
          </div>
          <div class="col-12">
            <nav>
              <div class="nav nav-tabs"  role="tablist">
                <button class="nav-link active" id="tabs-aria-view12" data-bs-toggle="tab" data-bs-target="#tabs-view12" type="button" role="tab">View</button>
                <button class="nav-link" id="tabs-aria-HTML12" data-bs-toggle="tab" data-bs-target="#tabs-HTML12" type="button" role="tab">HTML Code</button>
              </div>
            </nav>
            <div class="tab-content p-4 shadow" >
              <div class="tab-pane fade show active " id="tabs-view12" role="tabpanel" aria-labelledby="tabs-aria-view12">
                <div class="tab-item ">
                  <a class="btn btn-primary mb-3">Button default</a> <br>
                  <a class="btn btn-primary btn-lg mb-3 ">Button Large</a><br>
                  <a class="btn btn-primary btn-sm mb-3">Button Small</a><br>
                </div>          
              </div>
              <div class="tab-pane fade" id="tabs-HTML12" role="tabpanel" aria-labelledby="tabs-aria-HTML12">
                <div class="tab-item ">
                  <pre class="language-html">
                    <code class=" language-html">
                      &lt;!--Default Button--&gt;
                      &lt;a class=&quot;btn btn-primary&quot;&gt;Button default&lt;/a&gt;
                      
                      &lt;!--Default Large Button--&gt;
                      &lt;a class=&quot;btn btn-primary btn-lg&quot;&gt;Button Large&lt;/a&gt;
      
                      &lt;!--Default Small Button--&gt;
                      &lt;a class=&quot;btn btn-primary btn-sm&quot;&gt;Button Small&lt;/a&gt;
                    </code>
                  </pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Normal Buttons-->

    <!-- Colors Buttons-->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <h2>Colored Buttons</h2>
            <p>
              The default button style for Consultant using the <span class="highlight">.btn  </span> class. Customize the color of the buttons using <span class="highlight">.btn-primary  </span> , <span class="highlight">.btn-secondary  </span> and so on. </p>
            <hr>
          </div>
          <div class="col-12">
            <nav>
              <div class="nav nav-tabs"  role="tablist">
                <button class="nav-link active" id="tabs-aria-view13" data-bs-toggle="tab" data-bs-target="#tabs-view13" type="button" role="tab">View</button>
                <button class="nav-link" id="tabs-aria-HTML13" data-bs-toggle="tab" data-bs-target="#tabs-HTML13" type="button" role="tab">HTML Code</button>
              </div>
            </nav>
            <div class="tab-content p-4 shadow" >
              <div class="tab-pane fade show active " id="tabs-view13" role="tabpanel" aria-labelledby="tabs-aria-view13">
                <div class="tab-item ">
                  <a class="btn btn-primary mt-3">Button Primary</a><br>
                  <a class="btn btn-secondary mt-3">Button Secondary</a><br>
                  <a class="btn btn-success mt-3">Button Success</a><br>
                  <a class="btn btn-danger mt-3">Button Danger</a><br>
                  <a class="btn btn-warning mt-3">Button Warning</a><br>
                  <a class="btn btn-dark mt-3">Button Dark</a><br>
                  <a class="btn btn-light-green mt-3">Button Light Green</a><br>
                  <a class="btn btn-link mt-3">Button Link</a><br>
                </div>          
              </div>
              <div class="tab-pane fade" id="tabs-HTML13" role="tabpanel" aria-labelledby="tabs-aria-HTML13">
                <div class="tab-item ">
                  <pre class="language-html">
                    <code class=" language-html">
                      &lt;!--Button Primary--&gt;
                      &lt;a class=&quot;btn btn-primary&quot;&gt;Button Primary&lt;/a&gt;
      
                      &lt;!--Button Secondary--&gt;
                      &lt;a class=&quot;btn btn-secondary&quot;&gt;Button Secondary&lt;/a&gt;
      
                      &lt;!--Button Success--&gt;
                      &lt;a class=&quot;btn btn-success&quot;&gt;Button Success&lt;/a&gt;
      
                      &lt;!--Button Danger--&gt;
                      &lt;a class=&quot;btn btn-danger&quot;&gt;Button Danger&lt;/a&gt;
      
                      &lt;!--Button warning--&gt;
                      &lt;a class=&quot;btn btn-warning&quot;&gt;Button Warning&lt;/a&gt;
      
                      &lt;!--Button Dark--&gt;
                      &lt;a class=&quot;btn btn-dark&quot;&gt;Button Dark&lt;/a&gt;
      
                      &lt;!--Button Light Green--&gt;
                      &lt;a class=&quot;btn btn-light-green&quot;&gt;Button Light Green&lt;/a&gt;
      
                      &lt;!--Button Link--&gt;
                      &lt;a class=&quot;btn btn-link &quot;&gt;Button Link&lt;/a&gt;
                    </code>
                  </pre>
                </div>
              </div>
            </div>
          </div>      
        </div>
      </div>
    </div>
    <!--Color Buttons-->

    <!-- Outline Buttons-->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row ">
          <div class="col-12">
            <h2>Outline Buttons</h2>
            <p>
              The default button style for Consultant using the <span class="highlight">.btn  </span> class. Customize the color of the buttons using <span class="highlight">.btn-primary  </span> , <span class="highlight">.btn-secondary  </span> and so on. </p>
            <hr>
          </div>
          <div class="col-12">
            <nav>
              <div class="nav nav-tabs"  role="tablist">
                <button class="nav-link active" id="tabs-aria-view14" data-bs-toggle="tab" data-bs-target="#tabs-view14" type="button" role="tab">View</button>
                <button class="nav-link" id="tabs-aria-HTML14" data-bs-toggle="tab" data-bs-target="#tabs-HTML14" type="button" role="tab">HTML Code</button>
              </div>
            </nav>
            <div class="tab-content p-4 shadow" >
              <div class="tab-pane fade show active " id="tabs-view14" role="tabpanel" aria-labelledby="tabs-aria-view14">
                <div class="tab-item ">
                  <a class="btn btn-outline-primary mt-3">Button Primary</a><br>
                  <a class="btn btn-outline-secondary mt-3">Button Secondary</a><br>
                  <a class="btn btn-outline-success mt-3">Button Success</a><br>
                  <a class="btn btn-outline-danger mt-3">Button Danger</a><br>
                  <a class="btn btn-outline-warning mt-3">Button Warning</a><br>
                  <a class="btn btn-outline-dark mt-3">Button Dark</a><br>
                </div>          
              </div>
              <div class="tab-pane fade" id="tabs-HTML14" role="tabpanel" aria-labelledby="tabs-aria-HTML14">
                <div class="tab-item ">
                  <pre class="language-html">
                    <code class=" language-html">
                      &lt;!--Button Primary--&gt;
                      &lt;a class=&quot;btn btn-outline-primary&quot;&gt;Button Primary&lt;/a&gt;

                      &lt;!--Button Secondary--&gt;
                      &lt;a class=&quot;btn btn-outline-secondary&quot;&gt;Button Secondary&lt;/a&gt;

                      &lt;!--Button Success--&gt;
                      &lt;a class=&quot;btn btn-outline-success&quot;&gt;Button Success&lt;/a&gt;

                      &lt;!--Button Danger--&gt;
                      &lt;a class=&quot;btn btn-outline-danger&quot;&gt;Button Danger&lt;/a&gt;

                      &lt;!--Button warning--&gt;
                      &lt;a class=&quot;btn btn-outline-warning&quot;&gt;Button Warning&lt;/a&gt;

                      &lt;!--Button Dark--&gt;
                      &lt;a class=&quot;btn btn-outline-dark&quot;&gt;Button Dark&lt;/a&gt;
                    </code>
                  </pre>
                </div>
              </div>
            </div>
          </div>      
        </div>
      </div>
    </div>
    <!--Outline Buttons-->
  </div>
</section>