<!--
  #############
  Contact  Form
  #############
-->
<section class="contact pt-10 pb-7 position-relative">
  <div class="contact-shape bg-primary w-40 h-90 rounded-lg position-absolute top-10">
    <div class="">
      <img src="../images/service/service-shape03.svg" alt="shape">
    </div>
  </div>
  <div class="container">
    <div class="contact-form bg-white rounded-lg d-lg-flex d-md-block justify-content-center p-6">
      <div class="row">
        <!--Contact Form Area-->
        <div class="col-lg-7">
          <form class="row g-3 pe-4">
            <h2 class=" m-0 mb-2">Become a Client</h2>
            <p class="1h-lg">Praesent eros risus volutpat pulvinar nulla sit nullam pellentesque netus. At mi
              vivamus
              lectus odio
              mauris
              quam eget
              commodo.</p>
            <div class="col-md-6">
              <input type="text" class="form-control" id="inputEmail4" placeholder="Name">
            </div>
            <div class="col-md-6">
              <input type="email" class="form-control" id="inputEmail105" placeholder="Email">
            </div>
            <div class="col-12">
              <input type="text" class="form-control" id="inputAddress" placeholder="Subject">
            </div>
            <div class="col-12">
              <textarea class="form-control" id="floatingTextarea2" placeholder="Description"
                style="height: 200px"></textarea>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary mb-3 mt-2 px-6 btn-lg">Submit</button>
            </div>
          </form>
        </div>
        <!-- Map Area-->
        <div class="col-lg-5">
          <div id="map" class="rounded-lg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>