<!--
  #############
  Get Start Page
  #############
-->
<section class="getstart position-relative">
  <div class="circle position-relative h-100 w-100 ">
    <div class="circle-shape" data-width="660"></div>
    <div class="circle-shape" data-width="1130">
    </div>
    <div class="circle-shape" data-width="1600">
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="d-lg-flex d-block position-absolute top-10 justify-content-center align-items-center">
          <!--Get Started Banner-->
          <div class="col-lg-4">
            <div class="bg-secondary-dark rounded-lg mb-6 mb-lg-0">
              <div class="getstart-circle">
                <div class="circle-shape" >
                  <div class="circle-shape">
                    <img src="../images/service/service-shape03.svg" alt="shape">
                  </div>
                  <div class="circle-shape circle-shape-animation"  id="get-start">
                    <img src="../images/getstart/Rectangle1.svg" alt="" data-depth="0.4">
                    <img src="../images/getstart/Rectangle2.svg" alt="" data-depth="0.4" class="center">
                    <img src="../images/getstart/Rectangle3.svg" alt="" data-depth="0.6">
                    <img src="../images/getstart/Rectangle4.svg" alt="" data-depth="0.2">
                    <img src="../images/getstart/Rectangle5.svg" alt="" data-depth="0.6">
                    <img src="../images/getstart/Rectangle6.svg" alt="" data-depth="0.4">
                    <img src="../images/getstart/Rectangle7.svg" alt="" data-depth="0.6">
                    <img src="../images/getstart/Rectangle8.svg" alt="" data-depth="0.4">
                    <img src="../images/getstart/Rectangle9.svg" alt="" data-depth="0.6">
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!--End of Get Started Banner-->
          <!--Get Started Form-->
          <div class="col-lg-4">
            <form class="row g-3 ps-lg-6 ps-2">
              <a class="w-50 mb-4" href="index.html">
                <img src="images/logo.svg" alt="" class="">
              </a>
              <h2 class="fs-7">Become a Client</h2>
              <p class="1h-lg">Praesent eros risus volutpat pulvinar nulla sit nullam pellentesque netus. At mivivamuslectus odiomaurisquam eget commodo.</p>
              <div class="col-md-12">
                <input type="text" class="form-control" id="inputEmail444" placeholder="Name">
              </div>
              <div class="col-md-12">
                <input type="text" class="form-control" id="inputEmail454" placeholder="Company Name">
              </div>
              <div class="col-12">
                <input type="text" class="form-control" id="inputAddress" placeholder="Phone">
              </div>
              <div class="col-12">
                <input type="text" class="form-control" id="inputAddress123" placeholder="Website">
              </div>
              <div class="col-md-12">
                <input type="email" class="form-control" id="inputEmail465" placeholder="Email">
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary mb-3 mt-2 btn-lg w-100">Submit</button>
              </div>
            </form>
          </div>
          <!--Enfd Of Get Started Form-->
        </div>
      </div>
    </div>
  </div>
</section>