<!-- 
    ########### 
    Banner Area 
    ##########
  -->
<section class="hero hero-home position-relative h-100 w-100" id="hero">
  <!-- 
    ########### 
    Banner Background circles 
    ##########
  -->
  <div class="circle position-relative h-100 w-100" >
    <div class="circle-shape" data-width="660"></div>
    <div class="circle-shape" data-width="1130" id="circle">
      <img data-depth="0.4" src="images/hero/round-shape-1.svg" alt="" class="d-none d-md-block"/>
      <img data-depth="0.4" src="images/hero/round-shape-2.svg" alt="" class="d-none d-md-block" />
    </div>
    <div class="circle-shape" data-width="1600">
      <!--Circle Images-->
      <img data-depth="0.3" src="images/hero/round-shape-3.svg" alt="" class="d-none d-md-block"/>
      <img data-depth="0.3" src="images/hero/round-shape-4.svg" alt="" class="d-none d-md-block"/>
      <img data-depth="0.2" src="images/hero/round-shape-5.svg" alt="" class="d-none d-md-block"/>
      <img data-depth="0.2" src="images/hero/round-shape-6.svg" alt="" class="d-none d-md-block" />
    </div>
  </div>
  <!-- 
    ########### 
    End of Banner Background circles 
    ###########
  -->
  <!-- 
    ########### 
    Banner Content 
    ###########
  -->
  <div
    class="hero-wrapper position-absolute w-100 w-md-75 w-xl-60 w-xxl-50 top-50 start-50 translate-middle text-center"
  >
    <div class="hero-content px-5">
      <h1
        class="mb-4 pt-8 pt-sm-6 pt-lg-0"
        data-aos="fade-up"
        data-aos-duration="600"
        data-aos-once="true"
      >
        In Advising To be a Better You
      </h1>
      <p
        class="mb-5"
        data-aos="fade-up"
        data-aos-duration="600"
        data-aos-delay="200"
        data-aos-once="true"
      >
        A proper guidence can be powerful tool for proffesional growth. Don't be
        confused and bark up the right tree.
      </p>
      <a
        href="getstart.html"
        class="btn btn-primary btn-lg"
        data-aos="fade-up"
        data-aos-duration="600"
        data-aos-delay="400"
        data-aos-once="true"
      >
        Get Started
      </a>
    </div>
  </div>
  <!-- 
    ########### 
    End of Banner Content 
    ###########
  -->
</section>
