<!--
  #############
  start services hero section
  #############
-->

<section class="position-relative h-100 w-100 hero-services">
    <div class="circle position-relative h-100 w-100">
        <div class="circle-shape" data-width="660"></div>
        <div class="circle-shape" data-width="1130"></div>
        <div class="circle-shape" data-width="1600"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div
                    class="hero-services-wraper bg-cyan text-center p-5 p-md-6 px-lg-12 pt-lg-7 pb-lg-8  mt-md-6 mt-xl-0  w-90 w-xxl-75 rounded-lg position-absolute top-50 start-50 translate-middle">
                    <div class="services-shape-left position-absolute">
                        <img src="../images/service/service-shape.svg" alt="shape">
                    </div>
                    <div class="services-shape-right position-absolute switch">
                        <img src="../images/service/service-shape-dot2.svg" alt="shape">
                    </div>
                    <div class="position-relative">
                        <h1 class="mb-3 text-capitalize">Our Services</h1>
                        <p class="lh-lg px-4">Diam urna, sit aenean mauris sit tincidunt vitae mauris ipsum. Habitasse enim,
                            cursus
                            lacus, mi. Pharetra facilisis diam in commodo enim. Ipsum suspendisse dui magna nam. Viverra eu
                            non in
                            pretium commodo et tortor. Risus in nisi ullamcorper
                            duis.
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!--
  #############
  End of start services hero section
  #############
-->