<!--
  #############
  Blog hero section
  #############
-->
<section class="hero position-relative h-100 w-100 hero-blog">
  <div class="circle position-relative h-100 w-100">
    <div class="circle-shape" data-width="660"></div>
    <div class="circle-shape" data-width="1130"></div>
    <div class="circle-shape" data-width="1600"></div>
  </div>

  <div class="container position-absolute top-50 start-50 translate-middle">
    <div class="row">
      <div class="col-12">
        <div class="hero-services-wraper section-bg-secondary-dark text-center mt-7 p-2 pt-4 p-sm-5 p-md-5 px-xxl-12 pt-lg-7 pb-lg-9 pb-xxl-10  mt-xl-0 rounded-lg position-relative">
          <div class="services-shape-left position-absolute top-0 start-0">
            <img src="../images/blog/blog-hero-shape1.svg" alt="shape">
          </div>
          <div class="position-relative">
            <h1 class="mb-3 text-capitalize">Our Blogs</h1>
            <p class="lh-lg px-4">Diam urna, sit aenean mauris sit tincidunt vitae mauris ipsum. Habitasse enim,
            cursus
            lacus, mi. Pharetra facilisis diam in commodo enim. Ipsum suspendisse dui magna nam. Viverra eu
            non in
            pretium commodo et tortor. Risus in nisi ullamcorper
            duis.
            </p>
            <div class="mt-5 mb-3 px-xl-7 ">
              <form action="#" class="d-block d-sm-flex align-items-center">
                <input type="text" class="form-control border-primary mb-3 mb-md-0"  placeholder="Username">
                <button type="submit"  class="btn btn-primary btn-lg w-100 w-sm-auto ms-0 ms-sm-2  ms-md-3 mb-3 mb-md-0">Get Updates</button> 
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
  #############
  End of Blog hero section
  #############
-->