<!--
  #############
  End of Blog hero for Single Page
  #############
-->
<section class="hero position-relative h-100 w-100 hero-blog-single">
  <div class="circle position-relative h-100 w-100">
    <div class="circle-shape" data-width="660"></div>
    <div class="circle-shape" data-width="1130"></div>
    <div class="circle-shape" data-width="1600"></div>
  </div>

  <div class="container position-absolute top-50 start-50 translate-middle">
    <div class="row">
      <div class="col-12">
        <div class="hero-services-wraper section-bg-secondary-dark text-center mt-6 mt-md-8 p-2 pt-4 p-sm-5 p-md-6 px-xxl-12 pt-lg-5 pt-xl-7 pb-xl-9 pb-xxl-10 rounded-lg position-relative ">
          <div class="services-shape-left position-absolute top-0 start-0">
            <img src="../images/blog/blog-hero-shape1.svg" alt="shape">
          </div>

          <h1 class="mb-3 px-0 px-xl-3 text-capitalize">How To Have A Fantastic Consultancy With Minimal Spending.</h1>
          
          <article class="p-3 position-relative">
            <div class="blog-post-content w-100 ">
              <div class="blog-post-author mb-4">
                <img class="blog-post-author-thumb rounded-circle border border-3 border-white" src="images/blog/author-thumb1.png" alt="author">
                <h6 class="fw-medium mt-3">Wasley Winde</h6>
              </div>
              <div class="blog-post-meta mb-3">
                <ul class="list-inline list-unstyled">
                  <li class="list-inline-item">
                    <a href="taxonomy.html">
                      <span class="badge  badge-soft-light ">Technology</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <span class="me-2">3 Min</span>. 
                    <span class="ms-2">13th March</span>
                  </li>
                </ul>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
  #############
  End of Blog hero for Single Page 
  #############
-->