<!--
  #############
  Navigation Footer Section
  #############
-->
<footer class="footer text-center text-md-start mt-7 pb-5" id="footer">
  <div class="container">
    <!--Navigation Top Footer area-->
    <div class="row">
      <!-- Navigation Footer Logo -->
      <div class="col-12 col-md-12 col-lg-5 mb-md-5">
        <div class="footer-site-desc">
          <a href="#"><img src="images/logo.svg" alt="logo"></a>
          <p class="mt-4 lh-lg">We offers a vast number of pre-made themes on different Programming Languages which
          will save your time when building a website.</p>
        </div>
      </div>
      <!--Navigation Footer Logo-->

      <!--Navigation Footer Cols-->
      <div class="col-12 col-md-4 col-lg-2">
        <div class="pt-3">
          <h6>Quick Links</h6>
          <ul class="list-unstyled">
            <li>
              <a href="services.html" class="py-2">Services </a>
            </li>
            <li>
              <a href="contact.html" class="py-2">Contact us</a>
            </li>
          </ul>
        </div>
      </div>
      <!--End of Navigation Footer Cols-->

      <!--Navigation Footer Cols-->
      <div class="col-12 col-md-4 col-lg-2">
        <div class="pt-3">
          <h6>Site Information</h6>
          <ul class="list-unstyled">
            <li>
              <a href="about.html" class="py-2">Company Info </a>
            </li>
            <li>
              <a href="blog.html" class="py-2">News and Press</a>
            </li>
          </ul>
        </div>
      </div>
      <!--End of Navigation Footer Cols-->
      <!--Navigation Footer Cols-->
      <div class="col-12 col-md-4 col-lg-3">
        <div class="pt-3">
          <h6>Legal & Compliance</h6>
          <ul class="list-unstyled">
            <li>
              <a href="terms-conditions.html" class="py-2">Terms of Service </a>
            </li>
            <li>
              <a href="privacy-policy.html" class="py-2">Privacy & Security</a>
            </li>
          </ul>
        </div>
      </div>
      <!--End of Navigation Footer Cols-->
    </div>
    <!--End of Navigation Footer Top Area-->
    <!-- Footer Bottom Area -->
    <div class="row clearfix">
      <div class="col-md-12">
        <div class="text-center">
          <p> All Rights Reserved by StaticMania 2021</p>
        </div>
      </div>
    </div>
    <!-- End of Footer Bottom Area -->
  </div>
  <!--End of footer Items-->
</footer>
<!--
  #############
  End Navigation Footer Section
  #############
-->