<!--
  #############
  Blog hero section
  #############
-->

<section class="related-blogs">
  <div class="container">
    <!--BLog Post Items-->
    <div class="row mt-6">
      <div class="col-lg-11 col-12 mx-auto">
        <div class="row mb-3">
          <div class="col-12">
            <h1>Related Blogs</h1>
            <hr>
          </div>
        </div>
        <div class="row ">
          <!--Blog item-->
          <div class="col-lg-4 col-md-6 mb-4 mx-auto">
            <article class="card blog-post-items p-3 bg-white shadow-none  w-100 mb-5 rounded-4">
              <div class="blog-post-item-thumb w-100">
                <img src="images/blog/featured-thumb4.png" alt="featured-thumb1" class="rounded-4 w-100" >
              </div>

              <div class="blog-post-content w-100 mt-3">
                <div class="blog-post-author d-flex align-items-center mb-3">
                  <img class="blog-post-author-thumb rounded-circle border border-3 border-warning" src="images/blog/author-thumb1.png" alt="author">
                  <h6 class="fw-medium ms-2">Ritu Natalia</h6>
                </div>

                <div class="blog-post-meta   mb-3">
                  <ul class="list-inline list-unstyled">
                    <li class="list-inline-item">
                      <a href="taxonomy.html">
                        <span class="badge bg-warning-light text-warning">Technology</span>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <span class="me-2">3 Min</span>. 
                      <span class="ms-2">13th March</span>
                    </li>
                  </ul>
                </div>
                <div class="blog-post-body">
                  <div class="blog-post-body-title">
                    <a href="blog-single.html">
                      <h2 class="mb-2">
                        Diam urna, sit aenean mauris sit tincid unt vitae mauris ipsum.
                      </h2>
                    </a>
                    <p>
                      Diam urna, sit aenean mauris sit tincidunt vitae mauris ipsum. Habitasse enim, cursus lacus, mi. 
                    </p>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <!--Blog Item-->
          <!--Blog item-->
          <div class="col-lg-4 col-md-6 mb-4 mx-auto">
            <article class="card blog-post-items p-3 bg-white shadow-none  w-100 rounded-4 ">
              <div class="blog-post-item-thumb w-100">
                <img src="images/blog/featured-thumb9.png" alt="featured-thumb1" class="rounded-4 w-100" >
              </div>

              <div class="blog-post-content w-100 mt-3">
                <div class="blog-post-author d-flex align-items-center mb-3">
                  <img class="blog-post-author-thumb rounded-circle border border-3 border-teal" src="images/blog/author-thumb2.png" alt="author">
                  <h6 class="fw-medium ms-2">Nigel Lina</h6>
                </div>

                <div class="blog-post-meta   mb-3">
                  <ul class="list-inline list-unstyled">
                    <li class="list-inline-item">
                      <a href="taxonomy.html">
                        <span class="badge bg-secondary-light text-teal">Technology</span>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <span class="me-2">3 Min</span>. 
                      <span class="ms-2">13th March</span>
                    </li>
                  </ul>
                </div>
                <div class="blog-post-body">
                  <div class="blog-post-body-title">
                    <a href="blog-single.html">
                      <h2 class="mb-2">
                        Diam urna, sit aenean mauris sit tincid unt vitae mauris ipsum.
                      </h2>
                    </a>
                    <p>
                      Diam urna, sit aenean mauris sit tincidunt vitae mauris ipsum. Habitasse enim, cursus lacus, mi. 
                    </p>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <!--Blog Item-->
          <!--Blog item-->
          <div class="col-lg-4 col-md-6 mb-4 mx-auto">
            <article class="card blog-post-items p-3 bg-white shadow-none  w-100  rounded-4">
              <div class="blog-post-item-thumb w-100">
                <img src="images/blog/featured-thumb10.png" alt="featured-thumb1" class="rounded-4 w-100" >
              </div>

              <div class="blog-post-content w-100 mt-3">
                <div class="blog-post-author d-flex align-items-center mb-3">
                  <img class="blog-post-author-thumb rounded-circle border border-3 border-success" src="images/blog/author-thumb2.png" alt="author">
                  <h6 class="fw-medium ms-2">Linda Lisa</h6>
                </div>

                <div class="blog-post-meta   mb-3">
                  <ul class="list-inline list-unstyled">
                    <li class="list-inline-item">
                      <a href="taxonomy.html">
                        <span class="badge bg-success-light text-success">Technology</span>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <span class="me-2">3 Min</span>. 
                      <span class="ms-2">13th March</span>
                    </li>
                  </ul>
                </div>
                <div class="blog-post-body">
                  <div class="blog-post-body-title">
                    <a href="blog-single.html">
                      <h2 class="mb-2">
                        Diam urna, sit aenean mauris sit tincid unt vitae mauris ipsum.
                      </h2>
                    </a>
                    <p>
                      Diam urna, sit aenean mauris sit tincidunt vitae mauris ipsum. Habitasse enim, cursus lacus, mi. 
                    </p>
                  </div>
                </div>
              </div>
            </article>
          </div>
        <!--Blog Item-->
        </div>
      </div>
    </div>
    <!--BLog Post Items-->
  </div>
</section>
<!--
  #############
  End of Blog hero section
  #############
-->