<!--
  #############
  Service Details page  section
  #############
-->
<!-- start services-details section -->
<section class="services-details position-relative">
  <!--Service shape-->
  <div class="services-shape-wrapper position-absolute w-100 h-100">
    <div class="services-shape position-absolute bg-secondary rounded-circle">
      <img src="../images/service/service-shape02.svg" alt="shapne">
    </div>
  </div>
  <div class="container">
    <!--Service shape-->
    <div class="services-shape-bottom position-absolute switch-two">
      <img src="../images/service/service-shape-dot3.svg" alt="shape">
    </div>
    <div class="row w-100 w-lg-90 w-xl-100 mx-auto">
      <!--Service Sidebar Items-->
      <div class="col-lg-4">
        <div id="list-example" class="list-group position-sticky top-10">
          <a class="services-item section-bg-white px-3 py-4 d-flex rounded-4 mb-4 justify-content-center"
            href="#list-item-1" data-scroll-nav="0">
            <i class="ai-icon-service-1 fs-2"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span></i>
            <div class="content pl-4">
              <h3 class="fs-4">Career Consultancy</h3>
              <p class="mb-0">Diam urna, sit aenean mauris sit tincidunt vitae mauris ipsum.</p>
            </div>
          </a>
          <a class="services-item section-bg-white px-3 py-4 d-flex rounded-4 mb-4 justify-content-center "
            href="#list-item-2" data-scroll-nav="1">
            <i class="ai-icon-service-2 fs-2"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span></i>
            <div class="content pl-4">
              <h3 class="fs-4">Project Consultancy</h3>
              <p class="mb-0">Diam urna, sit aenean mauris sit tincidunt vitae mauris ipsum.</p>
            </div>
          </a>
          <a class="services-item section-bg-white px-3 py-4 d-flex rounded-4 mb-4 justify-content-center"
            href="#list-item-3" data-scroll-nav="2">
            <i class="ai-icon-service-3 fs-2"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span></i>
            <div class="content pl-4">
              <h3 class="fs-4">Business Consultancy</h3>
              <p class="mb-0">Diam urna, sit aenean mauris sit tincidunt vitae mauris ipsum.</p>
            </div>
          </a>
          <a class="services-item section-bg-white px-3 py-4 d-flex rounded-4 mb-4 justify-content-center"
            href="#list-item-4" data-scroll-nav="3">
            <i class="ai-icon-service-4 fs-2"><span class="path1"></span><span class="path2"></span><span
                class="path3"></span></i>
            <div class="content pl-4">
              <h3 class="fs-4">Life Time Consultancy</h3>
              <p class="mb-0">Diam urna, sit aenean mauris sit tincidunt vitae mauris ipsum.</p>
            </div>
          </a>
        </div>
      </div>
      <!--End of Service Sidebar Items-->
      <!-- Service Items-->
      <div class="col-lg-8">
        <div 
          class="scrollspy-example card-item " tabindex="0" >
          <!-- Service Items Content-->
          <div class="card bg-white p-4 rounded-lg mb-4" id="list-item-1" data-scroll-index="0">
            <div class="">
              <div class="thumb position-relative mb-5">
                <img src="../images/service/services-item01.jpg" class="card-img-top" alt="...">
                <div class="icon position-absolute bg-white p-2 rounded-lg">
                  <i class="ai-icon-service-1 fs-1"><span class="path1"></span><span class="path2"></span><span
                      class="path3"></span></i>
                </div>
              </div>

              <div class="ps-4">
                <h2 class="">Career Consultancy</h2>
                <p class="">Diam urna, sit aenean mauris sit tincidunt vitae mauris ipsum. Habitasse enim, cursus lacus,
                  mi. Pharetra facilisis diam
                  in commodo enim. Ipsum suspendisse dui magna nam. Viverra eu non in pretium commodo et tortor. Risus
                  in nisi ullamcorper
                  duis.</p>
                <p>Ipsum suspendisse dui magna nam. Viverra eu non in pretium commodo et tortor. Risus in nisi
                  ullamcorper duis.</p>

                <p>
                  Ipsum suspendisse dui magna nam. Viverra eu non in pretium commodo et tortor. Risus in nisi
                  ullamcorper duis.
                </p>

              </div>
            </div>
          </div>
          <!-- Service Items Content-->
          <div class="card bg-white p-4 rounded-lg mb-4" id="list-item-2" data-scroll-index="1">
            <div class="">
              <div class="thumb position-relative mb-5">
                <img src="../images/service/services-item02.jpg" class="card-img-top" alt="...">
                <div class="icon position-absolute bg-white p-2 rounded-lg">
                  <i class="ai-icon-service-2 fs-1"><span class="path1"></span><span class="path2"></span><span
                      class="path3"></span></i>
                </div>
              </div>

              <div class="ps-4">
                <h2 class="">Project Consultancy</h2>
                <p class="">Diam urna, sit aenean mauris sit tincidunt vitae mauris ipsum. Habitasse enim, cursus lacus,
                  mi. Pharetra facilisis diam
                  in commodo enim. Ipsum suspendisse dui magna nam. Viverra eu non in pretium commodo et tortor. Risus
                  in nisi ullamcorper
                  duis.</p>
                <p>Ipsum suspendisse dui magna nam. Viverra eu non in pretium commodo et tortor. Risus in nisi
                  ullamcorper duis.</p>

                <p>
                  Ipsum suspendisse dui magna nam. Viverra eu non in pretium commodo et tortor. Risus in nisi
                  ullamcorper duis.
                </p>

              </div>
            </div>
          </div>
          <!-- Service Items Content-->
          <div class="card bg-white p-4 rounded-lg mb-4" id="list-item-3" data-scroll-index="2">
            <div class="">
              <div class="thumb position-relative mb-5">
                <img src="../images/service/services-item03.jpg" class="card-img-top" alt="...">
                <div class="icon position-absolute bg-white p-2 rounded-lg">
                  <i class="ai-icon-service-3 fs-1"><span class="path1"></span><span class="path2"></span><span
                      class="path3"></span></i>
                </div>
              </div>

              <div class="ps-4">
                <h2 class="">Business Consultancy</h2>
                <p class="">Diam urna, sit aenean mauris sit tincidunt vitae mauris ipsum. Habitasse enim, cursus lacus,
                  mi. Pharetra facilisis diam
                  in commodo enim. Ipsum suspendisse dui magna nam. Viverra eu non in pretium commodo et tortor. Risus
                  in nisi ullamcorper
                  duis.</p>
                <p>Ipsum suspendisse dui magna nam. Viverra eu non in pretium commodo et tortor. Risus in nisi
                  ullamcorper duis.</p>

                <p>
                  Ipsum suspendisse dui magna nam. Viverra eu non in pretium commodo et tortor. Risus in nisi
                  ullamcorper duis.
                </p>

              </div>
            </div>
          </div>
          <!-- Service Items Content-->
          <div class="card bg-white p-4 rounded-lg mb-8" id="list-item-4" data-scroll-index="3">
            <div class="">
              <div class="thumb position-relative mb-5">
                <img src="../images/service/services-item04.jpg" class="card-img-top" alt="...">
                <div class="icon position-absolute bg-white p-2 rounded-lg">
                  <i class="ai-icon-service-4 fs-1"><span class="path1"></span><span class="path2"></span><span
                      class="path3"></span></i>
                </div>
              </div>

              <div class="ps-4">
                <h2 class="">Life Time Consultancy</h2>
                <p class="">Diam urna, sit aenean mauris sit tincidunt vitae mauris ipsum. Habitasse enim, cursus lacus,
                  mi. Pharetra facilisis diam
                  in commodo enim. Ipsum suspendisse dui magna nam. Viverra eu non in pretium commodo et tortor. Risus
                  in nisi ullamcorper
                  duis.</p>
                <p>Ipsum suspendisse dui magna nam. Viverra eu non in pretium commodo et tortor. Risus in nisi
                  ullamcorper duis.</p>

                <p>
                  Ipsum suspendisse dui magna nam. Viverra eu non in pretium commodo et tortor. Risus in nisi
                  ullamcorper duis.
                </p>

              </div>
            </div>
          </div>
          <!-- End of Service Items Content-->
        </div>
      </div>
      <!-- Service Items-->
    </div>
  </div>
</section>
<!--
  #############
  End of Service Details page  section
  #############
-->