<!--
  #############
  Service section
  #############
-->
<section class="service mb-3 pt-5 pb-8 position-relative w-100 h-100">
  <div class="position-absolute left-0 bottom-0 ms-5 switch">
    <img src="images/service/service-shape-dot.svg" alt="service shape dot">
  </div>

  <div class="bg-shape-wrapper position-absolute w-100">
    <div class="bg-shape-item position-absolute bg-secondary rounded-circle">
      <img src="images/service/service-background-shape.svg" class="position-absolute" alt="service shape Bg">
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center align-items-center ">
      
      <!-- Section Header dor all Pages-->
      <div class="col-lg-5 mb-5 mb-lg-0">
        <div class="text-center text-lg-start p-5 p-xl-0 rounded-lg" >
          <span class="text-secondary text-uppercase mb-3 d-block fw-medium ls-lg">service</span>
          <h2 class="mb-5">Gain the insights, advice and tools to achieve.</h2>
          <a href="services.html" class="btn btn-light-green btn-lg">Learn More</a>
        </div>
        
      </div>

      <!-- Section Content Cards-->
      <div class="col-lg-7 col-xxl-6 ms-xxl-auto">
        <div class="d-grid grid-template-2 gx-5">
          <!-- Section Content Cards Items-->
          <div class="card border-0 text-center p-5 px-lg-4 py-lg-5 px-xl-5 py-xl-6 " data-aos="fade-down"  data-aos-duration="400" data-aos-once="true" >
            <i class="ai-icon-service-1 fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
            <div class="card-body p-0 mt-3">
              <p class="card-text lh-lg">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <!-- Section Content Cards Items-->
          <div class="card border-0 text-center p-5 px-lg-4 py-lg-5 px-xl-5 py-xl-6" data-aos="fade-down" data-aos-duration="800" data-aos-delay="600" data-aos-once="true">
            <i class="ai-icon-service-2 fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
            <div class="card-body p-0  mt-3">
              <p class="card-text lh-lg">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <!-- Section Content Cards Items-->
          <div class="card border-0 text-center p-5 px-lg-4 py-lg-5 px-xl-5 py-xl-6 " data-aos="fade-up"  data-aos-duration="400" data-aos-once="true">
            <i class="ai-icon-service-3 fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
            <div class="card-body p-0  mt-3">
              <p class="card-text lh-lg">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <!-- Section Content Cards Items-->
          <div class="card border-0 text-center p-5 px-lg-4 py-lg-5 px-xl-5 py-xl-6" data-aos="fade-up" data-aos-delay="600" data-aos-duration="600" data-aos-once="true">
            <i class="ai-icon-service-4 fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
            <div class="card-body p-0 mt-3">
              <p class="card-text lh-lg">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
  #############
  End of Service section
  #############
-->