<!--
  #############
  table Pages
  #############
-->
<section class=" elements mt-5">
  <div class="container">
    <!--Default Table Example-->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <h2>Table Default</h2>
            <p>
              Use the <span class="highlight"> .table</span> class with
              element inside main element.</p>
              <hr>
          </div>
          <div class="col-12">
            <nav>
              <div class="nav nav-tabs"  role="tablist">
                <button class="nav-link active" id="tabs-aria-view32" data-bs-toggle="tab" data-bs-target="#tabs-view32" type="button" role="tab">View</button>
                <button class="nav-link" id="tabs-aria-HTML32" data-bs-toggle="tab" data-bs-target="#tabs-HTML32" type="button" role="tab">HTML Code</button>
              </div>
            </nav>
            <div class="tab-content p-4 shadow" >
              <div class="tab-pane fade show active " id="tabs-view32" role="tabpanel" aria-labelledby="tabs-aria-view32">
                <div class="tab-item ">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
                </div>          
              </div>
              <div class="tab-pane fade" id="tabs-HTML32" role="tabpanel" aria-labelledby="tabs-aria-HTML32">
                <div class="tab-item ">
                  <pre class="language-html">
                    <code class=" language-html">
                      &lt;!--Default Table--&gt;
                      &lt;table class=&quot;table&quot;&gt;
                        &lt;thead&gt;
                          &lt;tr&gt;
                            &lt;th&gt;#&lt;/th&gt;
                            &lt;th&gt;First Name&lt;/th&gt;
                            &lt;th&gt;Last Name&lt;/th&gt;
                            &lt;th&gt;Username&lt;/th&gt;
                          &lt;/tr&gt;
                        &lt;/thead&gt;
                        &lt;tbody&gt;
                          &lt;tr&gt;
                            &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
                            &lt;td&gt;Mark&lt;/td&gt;
                            &lt;td&gt;Otto&lt;/td&gt;
                            &lt;td&gt;@mdo&lt;/td&gt;
                          &lt;/tr&gt;
                          &lt;tr&gt;
                            &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
                            &lt;td&gt;Jacob&lt;/td&gt;
                            &lt;td&gt;Thornton&lt;/td&gt;
                            &lt;td&gt;@fat&lt;/td&gt;
                          &lt;/tr&gt;
                          &lt;tr&gt;
                            &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
                            &lt;td&gt;Larry&lt;/td&gt;
                            &lt;td&gt;the Bird&lt;/td&gt;
                            &lt;td&gt;@twitter&lt;/td&gt;
                          &lt;/tr&gt;
                        &lt;/tbody&gt;
                      &lt;/table&gt;
                    </code>
                  </pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Default Table Example-->
    <!--Variants Table Example-->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <h2>Table Variants</h2>
            <p>You can use contextual classes to color <span class="highlight">.table-primary</span> <span
                class="highlight">.table-success</span> class with
              table rows or individual cells.</p>
              <hr>
          </div>
          <div class="col-12">
            <nav>
              <div class="nav nav-tabs"  role="tablist">
                <button class="nav-link active" id="tabs-aria-view33" data-bs-toggle="tab" data-bs-target="#tabs-view33" type="button" role="tab">View</button>
                <button class="nav-link" id="tabs-aria-HTML33" data-bs-toggle="tab" data-bs-target="#tabs-HTML33" type="button" role="tab">HTML Code</button>
              </div>
            </nav>
            <div class="tab-content p-4 shadow" >
              <div class="tab-pane fade show active " id="tabs-view33" role="tabpanel" aria-labelledby="tabs-aria-view33">
                <div class="tab-item ">
                  <table class="table">
                    <!-- On tables -->
                    <thead>
                      <tr>
                        <th>Class</th>
                        <th>Heading</th>
                        <th>Heading</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-primary">
                        <th scope="row">primary</th>
                        <td>Otto</td>
                        <td>@riaj</td>
                      </tr>
      
                      <tr class="table-secondary">
                        <th scope="row">secondary</th>
                        <td>Otto</td>
                        <td>@kswar</td>
                      </tr>
                      <tr class="table-success">
                        <th scope="row">success</th>
                        <td>Otto</td>
                        <td>@saad</td>
                      </tr>
                      <tr class="table-danger">
                        <th scope="row">danger</th>
                        <td>Otto</td>
                        <td>@zakir</td>
                      </tr>
                      <tr class="table-warning">
                        <th scope="row">warning</th>
                        <td>Otto</td>
                        <td>@abir</td>
                      </tr>
                      <tr class="table-info">
                        <th scope="row">info</th>
                        <td>Otto</td>
                        <td>@rafit</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">light</th>
                        <td>Otto</td>
                        <td>@banuil</td>
                      </tr>
                      <tr class="table-dark">
                        <th scope="row">dark</th>
                        <td>Otto</td>
                        <td>@sarowar</td>
                      </tr>
                    </tbody>
                  </table>
                </div>          
              </div>
              <div class="tab-pane fade" id="tabs-HTML33" role="tabpanel" aria-labelledby="tabs-aria-HTML33">
                <div class="tab-item ">
                  <pre class="language-html">
                    <code class=" language-html">
                      &lt;!--Table Varient--&gt;
                      &lt;table class=&quot;table&quot;&gt;
                      &lt;!-- On tables --&gt;
                      &lt;thead&gt;
                        &lt;tr&gt;
                          &lt;th&gt;Class&lt;/th&gt;
                          &lt;th&gt;Heading&lt;/th&gt;
                          &lt;th&gt;Heading&lt;/th&gt;
                        &lt;/tr&gt;
                      &lt;/thead&gt;
                      &lt;tbody&gt;
                        &lt;tr class=&quot;table-primary&quot;&gt;
                          &lt;th scope=&quot;row&quot;&gt;primary&lt;/th&gt;
                          &lt;td&gt;Otto&lt;/td&gt;
                          &lt;td&gt;@riaj&lt;/td&gt;
                        &lt;/tr&gt;
        
                        &lt;tr class=&quot;table-secondary&quot;&gt;
                          &lt;th scope=&quot;row&quot;&gt;secondary&lt;/th&gt;
                          &lt;td&gt;Otto&lt;/td&gt;
                          &lt;td&gt;@kswar&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr class=&quot;table-success&quot;&gt;
                          &lt;th scope=&quot;row&quot;&gt;success&lt;/th&gt;
                          &lt;td&gt;Otto&lt;/td&gt;
                          &lt;td&gt;@saad&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr class=&quot;table-danger&quot;&gt;
                          &lt;th scope=&quot;row&quot;&gt;danger&lt;/th&gt;
                          &lt;td&gt;Otto&lt;/td&gt;
                          &lt;td&gt;@zakir&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr class=&quot;table-warning&quot;&gt;
                          &lt;th scope=&quot;row&quot;&gt;warning&lt;/th&gt;
                          &lt;td&gt;Otto&lt;/td&gt;
                          &lt;td&gt;@abir&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr class=&quot;table-info&quot;&gt;
                          &lt;th scope=&quot;row&quot;&gt;info&lt;/th&gt;
                          &lt;td&gt;Otto&lt;/td&gt;
                          &lt;td&gt;@rafit&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr class=&quot;table-light&quot;&gt;
                          &lt;th scope=&quot;row&quot;&gt;light&lt;/th&gt;
                          &lt;td&gt;Otto&lt;/td&gt;
                          &lt;td&gt;@banuil&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr class=&quot;table-dark&quot;&gt;
                          &lt;th scope=&quot;row&quot;&gt;dark&lt;/th&gt;
                          &lt;td&gt;Otto&lt;/td&gt;
                          &lt;td&gt;@sarowar&lt;/td&gt;
                        &lt;/tr&gt;
                      &lt;/tbody&gt;
                    &lt;/table&gt;
                    </code>
                  </pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Variants Table Example-->
    <!--table-dark Example-->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <h2>Table Dark</h2>
            <p>
              Use contextual <span class="highlight"> .table</span> class with
              Use contextual <span class="highlight"> .table-dark</span> class with
              classes to color tables, table rows or individual cells.</p>
              <hr>
          </div>
          <div class="col-12">
            <nav>
              <div class="nav nav-tabs"  role="tablist">
                <button class="nav-link active" id="tabs-aria-view34" data-bs-toggle="tab" data-bs-target="#tabs-view34" type="button" role="tab">View</button>
                <button class="nav-link" id="tabs-aria-HTML34" data-bs-toggle="tab" data-bs-target="#tabs-HTML34" type="button" role="tab">HTML Code</button>
              </div>
            </nav>
            <div class="tab-content p-4 shadow" >
              <div class="tab-pane fade show active " id="tabs-view34" role="tabpanel" aria-labelledby="tabs-aria-view34">
                <div class="tab-item ">
                  <table class="table table-dark">
                    <!-- On tables -->
                    <thead>
                      <tr>
                        <th>Number</th>
                        <th>Heading</th>
                        <th>Heading</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Otto</td>
                        <td>@riaj</td>
                      </tr>
      
                      <tr>
                        <th scope="row">2</th>
                        <td>Otto</td>
                        <td>@kswar</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Otto</td>
                        <td>@saad</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Otto</td>
                        <td>@zakir</td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>Otto</td>
                        <td>@abir</td>
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td>Otto</td>
                        <td>@rafit</td>
                      </tr>
                      <tr>
                        <th scope="row">7</th>
                        <td>Otto</td>
                        <td>@banuil</td>
                      </tr>
                      <tr>
                        <th scope="row">8</th>
                        <td>Otto</td>
                        <td>@sarowar</td>
                      </tr>
                    </tbody>
                  </table>
                </div>          
              </div>
              <div class="tab-pane fade" id="tabs-HTML34" role="tabpanel" aria-labelledby="tabs-aria-HTML34">
                <div class="tab-item ">
                  <pre class="language-html">
                    <code class=" language-html">
                      &lt;!--Table Dark--&gt;
                      &lt;table class=&quot;table table-dark&quot;&gt;
                      &lt;!-- On tables --&gt;
                      &lt;thead&gt;
                        &lt;tr&gt;
                          &lt;th&gt;Number&lt;/th&gt;
                          &lt;th&gt;Heading&lt;/th&gt;
                          &lt;th&gt;Heading&lt;/th&gt;
                        &lt;/tr&gt;
                      &lt;/thead&gt;
                      &lt;tbody&gt;
                        &lt;tr&gt;
                          &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
                          &lt;td&gt;Otto&lt;/td&gt;
                          &lt;td&gt;@riaj&lt;/td&gt;
                        &lt;/tr&gt;
        
                        &lt;tr&gt;
                          &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
                          &lt;td&gt;Otto&lt;/td&gt;
                          &lt;td&gt;@kswar&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                          &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
                          &lt;td&gt;Otto&lt;/td&gt;
                          &lt;td&gt;@saad&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                          &lt;th scope=&quot;row&quot;&gt;4&lt;/th&gt;
                          &lt;td&gt;Otto&lt;/td&gt;
                          &lt;td&gt;@zakir&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                          &lt;th scope=&quot;row&quot;&gt;5&lt;/th&gt;
                          &lt;td&gt;Otto&lt;/td&gt;
                          &lt;td&gt;@abir&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                          &lt;th scope=&quot;row&quot;&gt;6&lt;/th&gt;
                          &lt;td&gt;Otto&lt;/td&gt;
                          &lt;td&gt;@rafit&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                          &lt;th scope=&quot;row&quot;&gt;7&lt;/th&gt;
                          &lt;td&gt;Otto&lt;/td&gt;
                          &lt;td&gt;@banuil&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                          &lt;th scope=&quot;row&quot;&gt;8&lt;/th&gt;
                          &lt;td&gt;Otto&lt;/td&gt;
                          &lt;td&gt;@sarowar&lt;/td&gt;
                        &lt;/tr&gt;
                      &lt;/tbody&gt;
                    &lt;/table&gt;
                    </code>
                  </pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--table-dark Example-->
    <!--Table Striped Example-->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <h2>Table striped</h2>
            <p>
              Use the <span class="highlight"> .table</span> class with <span class="highlight">.table-striped</span>
              element inside main element.</p>
              <hr>
          </div>
          <div class="col-12">
            <nav>
              <div class="nav nav-tabs"  role="tablist">
                <button class="nav-link active" id="tabs-aria-view35" data-bs-toggle="tab" data-bs-target="#tabs-view35" type="button" role="tab">View</button>
                <button class="nav-link" id="tabs-aria-HTML35" data-bs-toggle="tab" data-bs-target="#tabs-HTML35" type="button" role="tab">HTML Code</button>
              </div>
            </nav>
            <div class="tab-content p-4 shadow" >
              <div class="tab-pane fade show active " id="tabs-view35" role="tabpanel" aria-labelledby="tabs-aria-view35">
                <div class="tab-item ">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Number</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
                </div>          
              </div>
              <div class="tab-pane fade" id="tabs-HTML35" role="tabpanel" aria-labelledby="tabs-aria-HTML35">
                <div class="tab-item ">
                  <pre class="language-html">
                    <code class=" language-html">
                      &lt;!--Table Striped--&gt;
                      &lt;table class=&quot;table table-striped&quot;&gt;
                        &lt;thead&gt;
                          &lt;tr&gt;
                            &lt;th&gt;Number&lt;/th&gt;
                            &lt;th&gt;First Name&lt;/th&gt;
                            &lt;th&gt;Last Name&lt;/th&gt;
                            &lt;th&gt;Username&lt;/th&gt;
                          &lt;/tr&gt;
                        &lt;/thead&gt;
                        &lt;tbody&gt;
                          &lt;tr&gt;
                            &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
                            &lt;td&gt;Mark&lt;/td&gt;
                            &lt;td&gt;Otto&lt;/td&gt;
                            &lt;td&gt;@mdo&lt;/td&gt;
                          &lt;/tr&gt;
                          &lt;tr&gt;
                            &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
                            &lt;td&gt;Jacob&lt;/td&gt;
                            &lt;td&gt;Thornton&lt;/td&gt;
                            &lt;td&gt;@fat&lt;/td&gt;
                          &lt;/tr&gt;
                          &lt;tr&gt;
                            &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
                            &lt;td&gt;Larry&lt;/td&gt;
                            &lt;td&gt;the Bird&lt;/td&gt;
                            &lt;td&gt;@twitter&lt;/td&gt;
                          &lt;/tr&gt;
                        &lt;/tbody&gt;
                      &lt;/table&gt;
                    </code>
                  </pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Table Striped Example-->

    <!--Table bordered Example-->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <h2>Table bordered</h2>
            <p>
              Use the <span class="highlight"> .table</span> class with <span class="highlight"> .table-bordered</span>
              element inside main element.</p>
              <hr>
          </div>
          <div class="col-12">
            <nav>
              <div class="nav nav-tabs"  role="tablist">
                <button class="nav-link active" id="tabs-aria-view36" data-bs-toggle="tab" data-bs-target="#tabs-view36" type="button" role="tab">View</button>
                <button class="nav-link" id="tabs-aria-HTML36" data-bs-toggle="tab" data-bs-target="#tabs-HTML36" type="button" role="tab">HTML Code</button>
              </div>
            </nav>
            <div class="tab-content p-4 shadow" >
              <div class="tab-pane fade show active " id="tabs-view36" role="tabpanel" aria-labelledby="tabs-aria-view36">
                <div class="tab-item ">
                  <table class="table table-bordered border-dark">
                    <thead>
                      <tr>
                        <th>Number</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
                </div>          
              </div>
              <div class="tab-pane fade" id="tabs-HTML36" role="tabpanel" aria-labelledby="tabs-aria-HTML36">
                <div class="tab-item ">
                  <pre class="language-html">
                    <code class=" language-html">
                      &lt;!--Table bordered--&gt;
                      &lt;table class=&quot;table table-bordered border-dark&quot;&gt;
                        &lt;thead&gt;
                          &lt;tr&gt;
                            &lt;th&gt;Number&lt;/th&gt;
                            &lt;th&gt;First Name&lt;/th&gt;
                            &lt;th&gt;Last Name&lt;/th&gt;
                            &lt;th&gt;Username&lt;/th&gt;
                          &lt;/tr&gt;
                        &lt;/thead&gt;
                        &lt;tbody&gt;
                          &lt;tr&gt;
                            &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
                            &lt;td&gt;Mark&lt;/td&gt;
                            &lt;td&gt;Otto&lt;/td&gt;
                            &lt;td&gt;@mdo&lt;/td&gt;
                          &lt;/tr&gt;
                          &lt;tr&gt;
                            &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
                            &lt;td&gt;Jacob&lt;/td&gt;
                            &lt;td&gt;Thornton&lt;/td&gt;
                            &lt;td&gt;@fat&lt;/td&gt;
                          &lt;/tr&gt;
                          &lt;tr&gt;
                            &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
                            &lt;td&gt;Larry&lt;/td&gt;
                            &lt;td&gt;the Bird&lt;/td&gt;
                            &lt;td&gt;@twitter&lt;/td&gt;
                          &lt;/tr&gt;
                        &lt;/tbody&gt;
                      &lt;/table&gt;
                    </code>
                  </pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Table bordered Example-->
    <!--Table table-hover Example-->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <h2>Table Hover</h2>
            <p>
              Use the <span class="highlight"> .table</span> class with <span class="highlight"> .table-hover</span>
              element inside main element.</p>
              <hr>
          </div>
          <div class="col-12">
            <nav>
              <div class="nav nav-tabs"  role="tablist">
                <button class="nav-link active" id="tabs-aria-view37" data-bs-toggle="tab" data-bs-target="#tabs-view37" type="button" role="tab">View</button>
                <button class="nav-link" id="tabs-aria-HTML37" data-bs-toggle="tab" data-bs-target="#tabs-HTML37" type="button" role="tab">HTML Code</button>
              </div>
            </nav>
            <div class="tab-content p-4 shadow" >
              <div class="tab-pane fade show active " id="tabs-view37" role="tabpanel" aria-labelledby="tabs-aria-view37">
                <div class="tab-item ">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Number</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
                </div>          
              </div>
              <div class="tab-pane fade" id="tabs-HTML37" role="tabpanel" aria-labelledby="tabs-aria-HTML37">
                <div class="tab-item ">
                  <pre class="language-html">
                    <code class=" language-html">
                      &lt;!--Table Hover--&gt;
                      &lt;table class=&quot;table table-hover&quot;&gt;
                      &lt;thead&gt;
                        &lt;tr&gt;
                          &lt;th&gt;Number&lt;/th&gt;
                          &lt;th&gt;First Name&lt;/th&gt;
                          &lt;th&gt;Last Name&lt;/th&gt;
                          &lt;th&gt;Username&lt;/th&gt;
                        &lt;/tr&gt;
                      &lt;/thead&gt;
                      &lt;tbody&gt;
                        &lt;tr&gt;
                          &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
                          &lt;td&gt;Mark&lt;/td&gt;
                          &lt;td&gt;Otto&lt;/td&gt;
                          &lt;td&gt;@mdo&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                          &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
                          &lt;td&gt;Jacob&lt;/td&gt;
                          &lt;td&gt;Thornton&lt;/td&gt;
                          &lt;td&gt;@fat&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                          &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
                          &lt;td&gt;Larry&lt;/td&gt;
                          &lt;td&gt;the Bird&lt;/td&gt;
                          &lt;td&gt;@twitter&lt;/td&gt;
                        &lt;/tr&gt;
                      &lt;/tbody&gt;
                    &lt;/table&gt;
                    </code>
                  </pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Table table-hover Example-->
    <!--Table table-Dark-hover Example-->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <h2>Table Dark Hover</h2>
            <p>
              Use the <span class="highlight"> .table</span> class with <span class="highlight"> .table-dark
                .table-hover</span>
              element inside main element.</p>
              <hr>
          </div>
          <div class="col-12">
            <nav>
              <div class="nav nav-tabs"  role="tablist">
                <button class="nav-link active" id="tabs-aria-view38" data-bs-toggle="tab" data-bs-target="#tabs-view38" type="button" role="tab">View</button>
                <button class="nav-link" id="tabs-aria-HTML38" data-bs-toggle="tab" data-bs-target="#tabs-HTML38" type="button" role="tab">HTML Code</button>
              </div>
            </nav>
            <div class="tab-content p-4 shadow" >
              <div class="tab-pane fade show active " id="tabs-view6" role="tabpanel" >
                <div class="tab-item ">
                  <table class="table table-dark table-hover">
                    <thead>
                      <tr>
                        <th>Number</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
                </div>          
              </div>
              <div class="tab-pane fade" id="tabs-HTML38" role="tabpanel" aria-labelledby="tabs-aria-HTML38">
                <div class="tab-item ">
                  <pre class="language-html">
                    <code class=" language-html">
                      &lt;!--Table Dark Hover--&gt;
                      &lt;table class=&quot;table table-dark table-hover&quot;&gt;
                        &lt;thead&gt;
                          &lt;tr&gt;
                            &lt;th&gt;Number&lt;/th&gt;
                            &lt;th&gt;First Name&lt;/th&gt;
                            &lt;th&gt;Last Name&lt;/th&gt;
                            &lt;th&gt;Username&lt;/th&gt;
                          &lt;/tr&gt;
                        &lt;/thead&gt;
                        &lt;tbody&gt;
                          &lt;tr&gt;
                            &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
                            &lt;td&gt;Mark&lt;/td&gt;
                            &lt;td&gt;Otto&lt;/td&gt;
                            &lt;td&gt;@mdo&lt;/td&gt;
                          &lt;/tr&gt;
                          &lt;tr&gt;
                            &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
                            &lt;td&gt;Jacob&lt;/td&gt;
                            &lt;td&gt;Thornton&lt;/td&gt;
                            &lt;td&gt;@fat&lt;/td&gt;
                          &lt;/tr&gt;
                          &lt;tr&gt;
                            &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
                            &lt;td&gt;Larry&lt;/td&gt;
                            &lt;td&gt;the Bird&lt;/td&gt;
                            &lt;td&gt;@twitter&lt;/td&gt;
                          &lt;/tr&gt;
                        &lt;/tbody&gt;
                      &lt;/table&gt;
                    </code>
                  </pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Table table-Dark-hover Example-->
    <!--Table table-active Example-->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <h2>Table active</h2>
            <p>
              Use the <span class="highlight"> .table</span> class with <span class="highlight">.table-active</span>
              element inside main element.</p>
              <hr>
          </div>
          <div class="col-12">
            <nav>
              <div class="nav nav-tabs"  role="tablist">
                <button class="nav-link active" id="tabs-aria-view39" data-bs-toggle="tab" data-bs-target="#tabs-view39" type="button" role="tab">View</button>
                <button class="nav-link" id="tabs-aria-HTML39" data-bs-toggle="tab" data-bs-target="#tabs-HTML39" type="button" role="tab">HTML Code</button>
              </div>
            </nav>
            <div class="tab-content p-4 shadow" >
              <div class="tab-pane fade show active " id="tabs-view39" role="tabpanel" aria-labelledby="tabs-aria-view39">
                <div class="tab-item ">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Number</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-active">
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2" class="table-active">Larry</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
                </div>          
              </div>
              <div class="tab-pane fade" id="tabs-HTML39" role="tabpanel" aria-labelledby="tabs-aria-HTML39">
                <div class="tab-item ">
                  <pre class="language-html">
                    <code class=" language-html">
                      &lt;!--Table Active--&gt;
                      &lt;table class=&quot;table&quot;&gt;
                        &lt;thead&gt;
                          &lt;tr&gt;
                            &lt;th&gt;Number&lt;/th&gt;
                            &lt;th&gt;First Name&lt;/th&gt;
                            &lt;th&gt;Last Name&lt;/th&gt;
                            &lt;th&gt;Username&lt;/th&gt;
                          &lt;/tr&gt;
                        &lt;/thead&gt;
                        &lt;tbody&gt;
                          &lt;tr class=&quot;table-active&quot;&gt;
                            &lt;th scope=&quot;row&quot;&gt;1&lt;/th&gt;
                            &lt;td&gt;Mark&lt;/td&gt;
                            &lt;td&gt;Otto&lt;/td&gt;
                            &lt;td&gt;@mdo&lt;/td&gt;
                          &lt;/tr&gt;
                          &lt;tr&gt;
                            &lt;th scope=&quot;row&quot;&gt;2&lt;/th&gt;
                            &lt;td&gt;Jacob&lt;/td&gt;
                            &lt;td&gt;Thornton&lt;/td&gt;
                            &lt;td&gt;@fat&lt;/td&gt;
                          &lt;/tr&gt;
                          &lt;tr&gt;
                            &lt;th scope=&quot;row&quot;&gt;3&lt;/th&gt;
                            &lt;td colspan=&quot;2&quot; class=&quot;table-active&quot;&gt;Larry&lt;/td&gt;
                            &lt;td&gt;@twitter&lt;/td&gt;
                          &lt;/tr&gt;
                        &lt;/tbody&gt;
                      &lt;/table&gt;
                    </code>
                  </pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Table table-active Example-->

  </div>
</section>