<!--
  #############
  Tabs Pages
  #############
-->
<section class=" elements mt-5 ">
  <div class="container">
    <!--Default Tabs-->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <h2>Default Tabs</h2>
            <hr>
          </div>
          <div class="col-12">
            <nav>
              <div class="nav nav-tabs"  role="tablist">
                <button class="nav-link active" id="tabs-aria-view28" data-bs-toggle="tab" data-bs-target="#tabs-view28" type="button" role="tab">View</button>
                <button class="nav-link" id="tabs-aria-HTML28" data-bs-toggle="tab" data-bs-target="#tabs-HTML28" type="button" role="tab">HTML Code</button>
              </div>
            </nav>
            <div class="tab-content p-4 shadow" >
              <div class="tab-pane fade show active " id="tabs-view28" role="tabpanel" aria-labelledby="tabs-aria-view28">
                <div class="tab-item ">
                  <nav>
                    <div class="nav nav-tabs"  role="tablist">
                      <button class="nav-link active" id="tabs-home-tab" data-bs-toggle="tab" data-bs-target="#tabs-home" type="button" role="tab" aria-controls="tabs-home" aria-selected="true">Home</button>
                      <button class="nav-link" id="tabs-profile-tab" data-bs-toggle="tab" data-bs-target="#tabs-profile" type="button" role="tab" aria-controls="tabs-profile" aria-selected="false">Profile</button>
                      <button class="nav-link" id="tabs-contact-tab" data-bs-toggle="tab" data-bs-target="#tabs-contact" type="button" role="tab" aria-controls="tabs-contact" aria-selected="false">Contact</button>
                    </div>
                  </nav>
                  <div class="tab-content p-4 shadow" >
                    <div class="tab-pane fade show active " id="tabs-home" role="tabpanel" aria-labelledby="tabs-home-tab">
                      <div class="tab-item ">
                        <h3>What is Lorem Ipsum?</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                      </div>
                      
                                      
                    </div>
                    <div class="tab-pane fade" id="tabs-profile" role="tabpanel" aria-labelledby="tabs-profile-tab">
                      <div class="tab-item ">
                        <h3>What is Lorem Ipsum?</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-contact" role="tabpanel" aria-labelledby="tabs-contact-tab">
                      <div class="tab-item ">
                        <h3>What is Lorem Ipsum?</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                      </div>
                    </div>
                  </div>
                </div>          
              </div>
              <div class="tab-pane fade" id="tabs-HTML28" role="tabpanel" aria-labelledby="tabs-aria-HTML28">
                <div class="tab-item ">
                  <pre class="language-html">
                    <code class=" language-html">
                      &lt;!--Default Tab--&gt;
                      &lt;nav&gt;
                        &lt;div class=&quot;nav nav-tabs&quot; id=&quot;nav-tab&quot; role=&quot;tablist&quot;&gt;
                          &lt;button class=&quot;nav-link active&quot; id=&quot;tabs-home-tab&quot; data-bs-toggle=&quot;tab&quot; 
                          data-bs-target=&quot;#tabs-home&quot; type=&quot;button&quot; role=&quot;tab&quot; aria-controls=&quot;tabs-home&quot; 
                          aria-selected=&quot;true&quot;&gt;Home&lt;/button&gt;
                          &lt;button class=&quot;nav-link&quot; id=&quot;tabs-profile-tab&quot; data-bs-toggle=&quot;tab&quot; 
                          data-bs-target=&quot;#tabs-profile&quot; type=&quot;button&quot; role=&quot;tab&quot; aria-controls=&quot;tabs-profile&quot; 
                          aria-selected=&quot;false&quot;&gt;Profile&lt;/button&gt;
                          &lt;button class=&quot;nav-link&quot; id=&quot;tabs-contact-tab&quot; data-bs-toggle=&quot;tab&quot; 
                          data-bs-target=&quot;#tabs-contact&quot; type=&quot;button&quot; role=&quot;tab&quot; aria-controls=&quot;tabs-contact&quot; 
                          aria-selected=&quot;false&quot;&gt;Contact&lt;/button&gt;
                        &lt;/div&gt;
                      &lt;/nav&gt;
                      &lt;div class=&quot;tab-content p-4 shadow&quot; id=&quot;nav-tabContent&quot;&gt;
                        &lt;div class=&quot;tab-pane fade show active &quot; id=&quot;tabs-home&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;tabs-home-tab&quot;&gt;
                        ...         
                        &lt;/div&gt;
                        &lt;div class=&quot;tab-pane fade&quot; id=&quot;tabs-profile&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;tabs-profile-tab&quot;&gt;
                        ...
                        &lt;/div&gt;
                        &lt;div class=&quot;tab-pane fade&quot; id=&quot;tabs-contact&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;tabs-contact-tab&quot;&gt;
                        ..
                        &lt;/div&gt;
                      &lt;/div&gt;
                    </code>
                  </pre>
                </div>
              </div>
            </div>
          </div>      
        </div>
      </div>
    </div>
    <!--Default Tabs-->

    <!--Pill Tabs-->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <h2>Pill Tabs</h2>
            <p class="my-4">
              To add pill tabs, just replace <span class="highlight">.nav-tabs </span> class with <span class="highlight">.nav-pills  </span> class.
            </p>
            <hr>
          </div>
          <div class="col-12">
            <nav>
              <div class="nav nav-tabs"  role="tablist">
                <button class="nav-link active" id="tabs-aria-view29" data-bs-toggle="tab" data-bs-target="#tabs-view29" type="button" role="tab">View</button>
                <button class="nav-link" id="tabs-aria-HTML29" data-bs-toggle="tab" data-bs-target="#tabs-HTML29" type="button" role="tab">HTML Code</button>
              </div>
            </nav>
            <div class="tab-content p-4 shadow" >
              <div class="tab-pane fade show active " id="tabs-view29" role="tabpanel" aria-labelledby="tabs-aria-view29">
                <div class="tab-item ">
                  <nav>
                    <div class="nav nav-pills" id="pills-tab" role="tablist">
                      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="tab" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
                      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="tab" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</button>
                      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="tab" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</button>
                    </div>
                  </nav>
                  <div class="tab-content py-4" id="pills-tabContent">
                    <div class="tab-pane fade show active " id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                      <div class="tab-item ">
                        <h3>What is Lorem Ipsum?</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                      </div>
                      
                                      
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                      <div class="tab-item">
                        <h3>What is Lorem Ipsum?</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                      <div class="tab-item">
                        <h3>What is Lorem Ipsum?</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                      </div>
                    </div>
                  </div>
                </div>          
              </div>
              <div class="tab-pane fade" id="tabs-HTML29" role="tabpanel" aria-labelledby="tabs-aria-HTML29">
                <div class="tab-item ">
                  <pre class="language-html">
                    <code class=" language-html">
                      &lt;!--Pill Tabs--&gt;
                      &lt;nav&gt;
                        &lt;div class=&quot;nav nav-pills&quot; id=&quot;pills-tab&quot; role=&quot;tablist&quot;&gt;
                          &lt;button class=&quot;nav-link active&quot; id=&quot;pills-home-tab&quot; data-bs-toggle=&quot;tab&quot; data-bs-target=&quot;#pills-home&quot; type=&quot;button&quot; role=&quot;tab&quot; aria-controls=&quot;pills-home&quot; aria-selected=&quot;true&quot;&gt;Home&lt;/button&gt;
                          &lt;button class=&quot;nav-link&quot; id=&quot;pills-profile-tab&quot; data-bs-toggle=&quot;tab&quot; data-bs-target=&quot;#pills-profile&quot; type=&quot;button&quot; role=&quot;tab&quot; aria-controls=&quot;pills-profile&quot; aria-selected=&quot;false&quot;&gt;Profile&lt;/button&gt;
                          &lt;button class=&quot;nav-link&quot; id=&quot;pills-contact-tab&quot; data-bs-toggle=&quot;tab&quot; data-bs-target=&quot;#pills-contact&quot; type=&quot;button&quot; role=&quot;tab&quot; aria-controls=&quot;pills-contact&quot; aria-selected=&quot;false&quot;&gt;Contact&lt;/button&gt;
                        &lt;/div&gt;
                      &lt;/nav&gt;
                      &lt;div class=&quot;tab-content py-4&quot; id=&quot;pills-tabContent&quot;&gt;
                        &lt;div class=&quot;tab-pane fade show active &quot; id=&quot;pills-home&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;pills-home-tab&quot;&gt;
                            ...            
                        &lt;/div&gt;
                        &lt;div class=&quot;tab-pane fade&quot; id=&quot;pills-profile&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;pills-profile-tab&quot;&gt;
                          ...
                        &lt;/div&gt;
                        &lt;div class=&quot;tab-pane fade&quot; id=&quot;pills-contact&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;pills-contact-tab&quot;&gt;
                          ...
                        &lt;/div&gt;
                      &lt;/div&gt;
                    </code>
                  </pre>
                </div>
              </div>
            </div>
          </div>     
        </div>
      </div>
    </div>
    <!--Pill Tabs-->

    <!--Equal Width  Tabs-->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <h2>Equal Width Tabs</h2>
            <p class="my-4">
              To add equal width tabs, just add <span class="highlight">.nav-fill </span> class with <span class="highlight">.nav-tabs or nav-pills  </span> class.
            </p>
            <hr>
          </div>
          <div class="col-12">
            <nav>
              <div class="nav nav-tabs"  role="tablist">
                <button class="nav-link active" id="tabs-aria-view30" data-bs-toggle="tab" data-bs-target="#tabs-view30" type="button" role="tab">View</button>
                <button class="nav-link" id="tabs-aria-HTML30" data-bs-toggle="tab" data-bs-target="#tabs-HTML30" type="button" role="tab">HTML Code</button>
              </div>
            </nav>
            <div class="tab-content p-4 shadow" >
              <div class="tab-pane fade show active " id="tabs-view30" role="tabpanel" aria-labelledby="tabs-aria-view30">
                <div class="tab-item ">
                  <nav>
                    <div class="nav nav-tabs nav-fill" id="equal-tab" role="tablist">
                      <button class="nav-link active" id="equal-home-tab" data-bs-toggle="tab" data-bs-target="#equal-home" type="button" role="tab" aria-controls="equal-home" aria-selected="true">Home</button>
                      <button class="nav-link" id="equal-profile-tab" data-bs-toggle="tab" data-bs-target="#equal-profile" type="button" role="tab" aria-controls="equal-profile" aria-selected="false">Profile</button>
                      <button class="nav-link" id="equal-contact-tab" data-bs-toggle="tab" data-bs-target="#equal-contact" type="button" role="tab" aria-controls="equal-contact" aria-selected="false">Contact</button>
                    </div>
                  </nav>
                  <div class="tab-content p-4 shadow" id="equal-tabContent">
                    <div class="tab-pane fade show active " id="equal-home" role="tabpanel" aria-labelledby="equal-home-tab">
                      <div class="tab-item ">
                        <h3>What is Lorem Ipsum?</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                      </div>
                      
                                      
                    </div>
                    <div class="tab-pane fade" id="equal-profile" role="tabpanel" aria-labelledby="equal-profile-tab">
                      <div class="tab-item">
                        <h3>What is Lorem Ipsum?</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="equal-contact" role="tabpanel" aria-labelledby="equal-contact-tab">
                      <div class="tab-item">
                        <h3>What is Lorem Ipsum?</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                      </div>
                    </div>
                  </div>
                </div>          
              </div>
              <div class="tab-pane fade" id="tabs-HTML30" role="tabpanel" aria-labelledby="tabs-aria-HTML30">
                <div class="tab-item ">
                  <pre class="language-html">
                    <code class=" language-html">
                      &lt;!--Equal Width Tabs--&gt;
                      &lt;nav&gt;
                        &lt;div class=&quot;nav nav-tabs nav-fill&quot; id=&quot;equal-tab&quot; role=&quot;tablist&quot;&gt;
                          &lt;button class=&quot;nav-link active&quot; id=&quot;equal-home-tab&quot; data-bs-toggle=&quot;tab&quot; data-bs-target=&quot;#equal-home&quot; type=&quot;button&quot; role=&quot;tab&quot; aria-controls=&quot;equal-home&quot; aria-selected=&quot;true&quot;&gt;Home&lt;/button&gt;
                          &lt;button class=&quot;nav-link&quot; id=&quot;equal-profile-tab&quot; data-bs-toggle=&quot;tab&quot; data-bs-target=&quot;#equal-profile&quot; type=&quot;button&quot; role=&quot;tab&quot; aria-controls=&quot;equal-profile&quot; aria-selected=&quot;false&quot;&gt;Profile&lt;/button&gt;
                          &lt;button class=&quot;nav-link&quot; id=&quot;equal-contact-tab&quot; data-bs-toggle=&quot;tab&quot; data-bs-target=&quot;#equal-contact&quot; type=&quot;button&quot; role=&quot;tab&quot; aria-controls=&quot;equal-contact&quot; aria-selected=&quot;false&quot;&gt;Contact&lt;/button&gt;
                        &lt;/div&gt;
                      &lt;/nav&gt;
                      &lt;div class=&quot;tab-content p-4 shadow&quot; id=&quot;equal-tabContent&quot;&gt;
                        &lt;div class=&quot;tab-pane fade show active &quot; id=&quot;equal-home&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;equal-home-tab&quot;&gt;
                          ....         
                        &lt;/div&gt;
                        &lt;div class=&quot;tab-pane fade&quot; id=&quot;equal-profile&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;equal-profile-tab&quot;&gt;
                          ...
                        &lt;/div&gt;
                        &lt;div class=&quot;tab-pane fade&quot; id=&quot;equal-contact&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;equal-contact-tab&quot;&gt;
                          ...
                        &lt;/div&gt;
                      &lt;/div&gt;
                    </code>
                  </pre>
                </div>
              </div>
            </div>
          </div>      
        </div>
      </div>
    </div>
    <!--Equal width Tabs-->

    <!--Vertical Tabs-->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <h2>Vertical Tabs</h2>
            <hr>
          </div>
          <div class="col-12">
            <nav>
              <div class="nav nav-tabs"  role="tablist">
                <button class="nav-link active" id="tabs-aria-view31" data-bs-toggle="tab" data-bs-target="#tabs-view31" type="button" role="tab">View</button>
                <button class="nav-link" id="tabs-aria-HTML31" data-bs-toggle="tab" data-bs-target="#tabs-HTML31" type="button" role="tab">HTML Code</button>
              </div>
            </nav>
            <div class="tab-content p-4 shadow" >
              <div class="tab-pane fade show active " id="tabs-view31" role="tabpanel" aria-labelledby="tabs-aria-view31">
                <div class="tab-item ">
                  <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>
                      <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</button>
                      <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
                      <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
                    </div>
                    <div class="tab-content" id="v-pills-tabContent">
                      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="tab-item ">
                          <h3>What is Lorem Ipsum?</h3>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <div class="tab-item ">
                          <h3>What is Lorem Ipsum?</h3>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"><div class="tab-item ">
                        <h3>What is Lorem Ipsum?</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                      </div></div>
                      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"><div class="tab-item ">
                        <h3>What is Lorem Ipsum?</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                      </div></div>
                    </div>
                  </div>
                </div>          
              </div>
              <div class="tab-pane fade" id="tabs-HTML31" role="tabpanel" aria-labelledby="tabs-aria-HTML31">
                <div class="tab-item ">
                  <pre class="language-html">
                    <code class=" language-html">
                      &lt;!--Vertical Tabs--&gt;
                      &lt;div class=&quot;d-flex align-items-start&quot;&gt;
                        &lt;div class=&quot;nav flex-column nav-pills me-3&quot; id=&quot;v-pills-tab&quot; role=&quot;tablist&quot; aria-orientation=&quot;vertical&quot;&gt;
                          &lt;button class=&quot;nav-link active&quot; id=&quot;v-pills-home-tab&quot; data-bs-toggle=&quot;pill&quot; data-bs-target=&quot;#v-pills-home&quot; type=&quot;button&quot; role=&quot;tab&quot; aria-controls=&quot;v-pills-home&quot; aria-selected=&quot;true&quot;&gt;Home&lt;/button&gt;
                          &lt;button class=&quot;nav-link&quot; id=&quot;v-pills-profile-tab&quot; data-bs-toggle=&quot;pill&quot; data-bs-target=&quot;#v-pills-profile&quot; type=&quot;button&quot; role=&quot;tab&quot; aria-controls=&quot;v-pills-profile&quot; aria-selected=&quot;false&quot;&gt;Profile&lt;/button&gt;
                          &lt;button class=&quot;nav-link&quot; id=&quot;v-pills-messages-tab&quot; data-bs-toggle=&quot;pill&quot; data-bs-target=&quot;#v-pills-messages&quot; type=&quot;button&quot; role=&quot;tab&quot; aria-controls=&quot;v-pills-messages&quot; aria-selected=&quot;false&quot;&gt;Messages&lt;/button&gt;
                          &lt;button class=&quot;nav-link&quot; id=&quot;v-pills-settings-tab&quot; data-bs-toggle=&quot;pill&quot; data-bs-target=&quot;#v-pills-settings&quot; type=&quot;button&quot; role=&quot;tab&quot; aria-controls=&quot;v-pills-settings&quot; aria-selected=&quot;false&quot;&gt;Settings&lt;/button&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;tab-content&quot; id=&quot;v-pills-tabContent&quot;&gt;
                          &lt;div class=&quot;tab-pane fade show active&quot; id=&quot;v-pills-home&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;v-pills-home-tab&quot;&gt;...&lt;/div&gt;
                          &lt;div class=&quot;tab-pane fade&quot; id=&quot;v-pills-profile&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;v-pills-profile-tab&quot;&gt;...&lt;/div&gt;
                          &lt;div class=&quot;tab-pane fade&quot; id=&quot;v-pills-messages&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;v-pills-messages-tab&quot;&gt;...&lt;/div&gt;
                          &lt;div class=&quot;tab-pane fade&quot; id=&quot;v-pills-settings&quot; role=&quot;tabpanel&quot; aria-labelledby=&quot;v-pills-settings-tab&quot;&gt;...&lt;/div&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    </code>
                  </pre>
                </div>
              </div>
            </div>
          </div>      
        </div>
      </div>
    </div>
    <!--Vertical Tabs-->

  </div>
</section>