<!--
  #############
  Testimonials PAges
  #############
-->
<section class=" elements mt-5">
  <div class="container">
    <!--Default Team Example-->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <h2> Default Testimonial</h2>
            <p>Use the element inside main element.</p>
              <hr>
          </div>
          <div class="col-xl-9 col-lg-12 col-md-12 mx-auto">
            <nav>
              <div class="nav nav-tabs"  role="tablist">
                <button class="nav-link active" id="tabs-aria-view42" data-bs-toggle="tab" data-bs-target="#tabs-view42" type="button" role="tab">View</button>
                <button class="nav-link" id="tabs-aria-HTML42" data-bs-toggle="tab" data-bs-target="#tabs-HTML42" type="button" role="tab">HTML Code</button>
              </div>
            </nav>
            <div class="tab-content p-4 shadow" >
              <div class="tab-pane fade show active " id="tabs-view42" role="tabpanel" aria-labelledby="tabs-aria-view42">
                <div class="tab-item ">
                  <div class="testimonial-slider">
                    <!--Testimonial Slider Items-->
                    <div class="card item px-3  py-4">
                      <div class="d-flex align-items-center mb-3">
                        <div class="flex-shrink-0">
                          <img src="images/testimonial/testimonial-thumb-1.png" alt="thumb1" class="rounded-3">
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <h4 class="mb-0 lh-lg">Nathan Navin</h4>
                          <span>Consultant, Google</span>
                        </div>
                      </div>
                      <div class="card-body p-0">
                        <p class="lh-lg fst-italic mb-0">At quis at diam sed ultricies sed magna nibh in. Orci nisi et ipsum
                          aliquet. Urna odio aliquam duis lorem.
                          Pellent esque non purus.Urna odio aliquam duis lorem. Pellen tesque non purus.
                          Urna odio aliquam duis lorem. Pellente sque non purus.</p>
                      </div>
                    </div>
      
                    <!--Testimonial Slider Items-->
                    <div class="card item px-3  py-4">
                      <div class="d-flex align-items-center mb-3">
                        <div class="flex-shrink-0">
                          <img src="images/testimonial/testimonial-thumb-3.png" alt="thumb1" class="rounded-3">
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <h4 class="mb-0 lh-lg">Egestas felis</h4>
                          <span>CEO, APPLE</span>
                        </div>
                      </div>
                      <div class="card-body p-0">
                        <p class="lh-lg fst-italic mb-0">At quis at diam sed ultricies sed magna nibh in. Orci nisi et ipsum
                          aliquet. Urna odio aliquam duis lorem.
                          Pellent esque non purus.Urna odio aliquam duis lorem. Pellen tesque non purus.
                          Urna odio aliquam duis lorem. Pellente sque non purus.</p>
                      </div>
                    </div>
      
                    <!--Testimonial Slider Items-->
                    <div class="card item px-3  py-4">
                      <div class="d-flex align-items-center mb-3">
                        <div class="flex-shrink-0">
                          <img src="images/testimonial/testimonial-thumb-2.png" alt="thumb1" class="rounded-3">
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <h4 class="mb-0 lh-lg">Tina Ivanovich</h4>
                          <span>E. Officer, Flipcart</span>
                        </div>
                      </div>
                      <div class="card-body p-0">
                        <p class="lh-lg fst-italic mb-0">At quis at diam sed ultricies sed magna nibh in. Orci nisi et ipsum
                          aliquet. Urna odio aliquam duis lorem.
                          Pellent esque non purus.Urna odio aliquam duis lorem. Pellen tesque non purus.
                          Urna odio aliquam duis lorem. Pellente sque non purus.</p>
                      </div>
                    </div>
      
                    <!--Testimonial Slider Items-->
                    <div class="card item px-3  py-4">
                      <div class="d-flex align-items-center mb-3">
                        <div class="flex-shrink-0">
                          <img src="images/testimonial/testimonial-thumb-3.png" alt="thumb1" class="rounded-3">
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <h4 class="mb-0 lh-lg">Rubina Nasir</h4>
                          <span>MD, Serveyers</span>
                        </div>
                      </div>
                      <div class="card-body p-0">
                        <p class="lh-lg fst-italic mb-0">At quis at diam sed ultricies sed magna nibh in. Orci nisi et ipsum
                          aliquet. Urna odio aliquam duis lorem.
                          Pellent esque non purus.Urna odio aliquam duis lorem. Pellen tesque non purus.
                          Urna odio aliquam duis lorem. Pellente sque non purus.</p>
                      </div>
                    </div>
      
                  </div>
                </div>          
              </div>
              <div class="tab-pane fade" id="tabs-HTML42" role="tabpanel" aria-labelledby="tabs-aria-HTML42">
                <div class="tab-item ">
                  <pre class="language-html">
                    <code class=" language-html">
                      &lt;!--Default Testimonial--&gt;
                      &lt;div class=&quot;testimonial-slider&quot;&gt;
                        &lt;!--Testimonial Slider Items--&gt;
                        &lt;div class=&quot;card item px-3  py-4&quot;&gt;
                          &lt;div class=&quot;d-flex align-items-center mb-3&quot;&gt;
                            &lt;div class=&quot;flex-shrink-0&quot;&gt;
                              &lt;img src=&quot;images/testimonial/testimonial-thumb-1.png&quot; alt=&quot;thumb1&quot; class=&quot;rounded-3&quot;&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;flex-grow-1 ms-3&quot;&gt;
                              &lt;h4 class=&quot;mb-0 lh-lg&quot;&gt;Nathan Navin&lt;/h4&gt;
                              &lt;span&gt;Consultant, Google&lt;/span&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                          &lt;div class=&quot;card-body p-0&quot;&gt;
                            &lt;p class=&quot;lh-lg fst-italic mb-0&quot;&gt;At quis at diam sed ultricies sed magna nibh in. Orci nisi et ipsum aliquet. Urna odio aliquam duis lorem.
                              Pellent esque non purus.Urna odio aliquam duis lorem. Pellen tesque non purus.
                              Urna odio aliquam duis lorem. Pellente sque non purus.&lt;/p&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                  
                        &lt;!--Testimonial Slider Items--&gt;
                        &lt;div class=&quot;card item px-3  py-4&quot;&gt;
                          &lt;div class=&quot;d-flex align-items-center mb-3&quot;&gt;
                            &lt;div class=&quot;flex-shrink-0&quot;&gt;
                              &lt;img src=&quot;images/testimonial/testimonial-thumb-3.png&quot; alt=&quot;thumb1&quot; class=&quot;rounded-3&quot;&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;flex-grow-1 ms-3&quot;&gt;
                              &lt;h4 class=&quot;mb-0 lh-lg&quot;&gt;Egestas felis&lt;/h4&gt;
                              &lt;span&gt;CEO, APPLE&lt;/span&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                          &lt;div class=&quot;card-body p-0&quot;&gt;
                            &lt;p class=&quot;lh-lg fst-italic mb-0&quot;&gt;At quis at diam sed ultricies sed magna nibh in. Orci nisi et ipsum aliquet. Urna odio aliquam duis lorem.
                              Pellent esque non purus.Urna odio aliquam duis lorem. Pellen tesque non purus.
                              Urna odio aliquam duis lorem. Pellente sque non purus.&lt;/p&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                  
                        &lt;!--Testimonial Slider Items--&gt;
                        &lt;div class=&quot;card item px-3  py-4&quot;&gt;
                          &lt;div class=&quot;d-flex align-items-center mb-3&quot;&gt;
                            &lt;div class=&quot;flex-shrink-0&quot;&gt;
                              &lt;img src=&quot;images/testimonial/testimonial-thumb-2.png&quot; alt=&quot;thumb1&quot; class=&quot;rounded-3&quot;&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;flex-grow-1 ms-3&quot;&gt;
                              &lt;h4 class=&quot;mb-0 lh-lg&quot;&gt;Tina Ivanovich&lt;/h4&gt;
                              &lt;span&gt;E. Officer, Flipcart&lt;/span&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                          &lt;div class=&quot;card-body p-0&quot;&gt;
                            &lt;p class=&quot;lh-lg fst-italic mb-0&quot;&gt;At quis at diam sed ultricies sed magna nibh in. Orci nisi et ipsum aliquet. Urna odio aliquam duis lorem.
                              Pellent esque non purus.Urna odio aliquam duis lorem. Pellen tesque non purus.
                              Urna odio aliquam duis lorem. Pellente sque non purus.&lt;/p&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                  
                        &lt;!--Testimonial Slider Items--&gt;
                        &lt;div class=&quot;card item px-3  py-4&quot;&gt;
                          &lt;div class=&quot;d-flex align-items-center mb-3&quot;&gt;
                            &lt;div class=&quot;flex-shrink-0&quot;&gt;
                              &lt;img src=&quot;images/testimonial/testimonial-thumb-3.png&quot; alt=&quot;thumb1&quot; class=&quot;rounded-3&quot;&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;flex-grow-1 ms-3&quot;&gt;
                              &lt;h4 class=&quot;mb-0 lh-lg&quot;&gt;Rubina Nasir&lt;/h4&gt;
                              &lt;span&gt;MD, Serveyers&lt;/span&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                          &lt;div class=&quot;card-body p-0&quot;&gt;
                            &lt;p class=&quot;lh-lg fst-italic mb-0&quot;&gt;At quis at diam sed ultricies sed magna nibh in. Orci nisi et ipsum aliquet. Urna odio aliquam duis lorem.
                              Pellent esque non purus.Urna odio aliquam duis lorem. Pellen tesque non purus.
                              Urna odio aliquam duis lorem. Pellente sque non purus.&lt;/p&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    </code>
                  </pre>
                </div>
              </div>
            </div>
          </div>
          <div class="col-11 mx-auto">
            
          </div>
          <div class="col-lg-12">
            
          </div>
        </div>
      </div>
    </div>
    <!--Default Team Example-->
    <!--Other Team Example-->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <h2>Secondary Testimonial</h2>
            <p>
              Use the element inside main element.</p>
              <hr>
          </div>
          <div class="col-lg-12 col-md-12 mx-auto">
            <nav>
              <div class="nav nav-tabs"  role="tablist">
                <button class="nav-link active" id="tabs-aria-view43" data-bs-toggle="tab" data-bs-target="#tabs-view43" type="button" role="tab">View</button>
                <button class="nav-link" id="tabs-aria-HTML43" data-bs-toggle="tab" data-bs-target="#tabs-HTML43" type="button" role="tab">HTML Code</button>
              </div>
            </nav>
            <div class="tab-content p-4 shadow" >
              <div class="tab-pane fade show active " id="tabs-view43" role="tabpanel" aria-labelledby="tabs-aria-view43">
                <div class="tab-item ">
                  <div class="testimonial-sliderTwo">
                    <!--Testimonial Slider Items-->
                    <div class="card item px-3 py-4 ">
                      <div class="d-flex align-items-center">
                        <div class="">
                          <img src="images/testimonial/testimonial-thumb-1.png" alt="thumb1" class="rounded-circle">
                        </div>
                        <div class="ps-4">
                          <p class="lh-lg fst-italic mb-0 pe-4">At quis at diam sed ultricies sed magna
                            nibh in. Orci nisi et ipsum aliquet. Urna odio aliquam duis lorem. Pellentesque non purus.</p>
                          <div class="d-block">
                            <h4 class="mb-0 lh-lg">Nathan Navin</h4>
                            <span>Consultant, Google</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card item px-3  py-4 ">
                      <div class="d-flex align-items-center">
                        <div class="">
                          <img src="images/testimonial/testimonial-thumb-3.png" alt="thumb3" class="rounded-circle">
                        </div>
                        <div class="ps-4">
                          <p class="lh-lg fst-italic mb-0 pe-4">At quis at diam sed ultricies sed magna
                            nibh in. Orci nisi et ipsum aliquet. Urna odio aliquam duis lorem. Pellentesque non purus.</p>
                          <div class="d-block">
                            <h4 class="mb-0 lh-lg">Egestas felis</h4>
                            <span>CEO, APPLE</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>          
              </div>
              <div class="tab-pane fade" id="tabs-HTML43" role="tabpanel" aria-labelledby="tabs-aria-HTML43">
                <div class="tab-item ">
                  <pre class="language-html">
                    <code class=" language-html">
                      &lt;!--Testimonial version 2--&gt;
                      &lt;div class=&quot;testimonial-sliderTwo&quot;&gt;
                        &lt;!--Testimonial Slider Items--&gt;
                        &lt;div class=&quot;card item px-3 py-4 &quot;&gt;
                          &lt;div class=&quot;d-flex align-items-center&quot;&gt;
                            &lt;div class=&quot;&quot;&gt;
                              &lt;img src=&quot;images/testimonial/testimonial-thumb-1.png&quot; alt=&quot;thumb1&quot; class=&quot;rounded-circle&quot;&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;ps-4&quot;&gt;
                              &lt;p class=&quot;lh-lg fst-italic mb-0 pe-4&quot;&gt;At quis at diam sed ultricies sed magna
                                nibh in. Orci nisi et ipsum aliquet. Urna odio aliquam duis lorem. Pellentesque non purus.&lt;/p&gt;
                              &lt;div class=&quot;d-block&quot;&gt;
                                &lt;h4 class=&quot;mb-0 lh-lg&quot;&gt;Nathan Navin&lt;/h4&gt;
                                &lt;span&gt;Consultant, Google&lt;/span&gt;
                              &lt;/div&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;card item px-3  py-4 &quot;&gt;
                          &lt;div class=&quot;d-flex align-items-center&quot;&gt;
                            &lt;div class=&quot;&quot;&gt;
                              &lt;img src=&quot;images/testimonial/testimonial-thumb-3.png&quot; alt=&quot;thumb3&quot; class=&quot;rounded-circle&quot;&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;ps-4&quot;&gt;
                              &lt;p class=&quot;lh-lg fst-italic mb-0 pe-4&quot;&gt;At quis at diam sed ultricies sed magna
                                nibh in. Orci nisi et ipsum aliquet. Urna odio aliquam duis lorem. Pellentesque non purus.&lt;/p&gt;
                              &lt;div class=&quot;d-block&quot;&gt;
                                &lt;h4 class=&quot;mb-0 lh-lg&quot;&gt;Egestas felis&lt;/h4&gt;
                                &lt;span&gt;CEO, APPLE&lt;/span&gt;
                              &lt;/div&gt;
                            &lt;/div&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    </code>
                  </pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Other Team Example-->
  </div>
</section>